/* Custom CSS Document */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/**
	Login
**/


.supercal {
width: 300px;
}
.supercal .supercal-header {
display: block;
line-height: 70px;
/*margin-bottom: 20px;*/
text-align: center;
position: relative;
font-size: 22px;
font-weight: bold;
background-color: #25313e;
color: #FFF;
}
.supercal .supercal-header .prev-month {
float: left;
background: transparent;
font-size: 45px;
margin-bottom: 0px !important;
padding: 0px;
}
.supercal .supercal-header .next-month {
float: right;
background: transparent;
font-size: 45px;
margin-bottom: 0px !important;
padding: 0px;
}
button.change-month.btn:hover {
    color: #fff !important;
}
.supercal-month {
position: relative;
z-index: 0;
overflow: hidden;
width: 100%;
border-bottom: 1px solid #495f74;
margin-bottom: 10px;
}
.todaybtn{
	margin-left: 5px;
}
.supercal table {
width: 300px;
table-layout: fixed;
/*background: #fff;*/
color: #FFF;
}
.supercal td {
cursor: pointer;
font-size: 18px;
}
.supercal td:hover {
background: #eb468a !important;
color: #FFF;
}
.supercal td.month-prev, .supercal td.month-next {
background: transparent;
color: #949494;
}
.supercal td.selected {
background: transparent;
/*border:1px solid #65bd77;*/
background-color: #eb468a;
color: #fff;
font-weight: normal;
}
.supercal td.today {
font-weight: bold;
}
/* Footer */
.supercal .supercal-footer {
width: 100%;
display: table;
}
.supercal .supercal-footer span.supercal-input {
display: table-cell;
width: 100%;
cursor: default;
}


.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #b9b9b9;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}
/*

.logo-merchant {
	min-height: 320px;
/*	min-width: 320px;*/
}
.merchant-title {
	color: #FFF;
	font-size: 28px;
	font-weight: 600;
	font-family: 'Open Sans', 'Tahoma';
	line-height: 28px;
}
.merchant-about {
	color: #FFF;
	font-size: 18px;
	font-family: 'Open Sans', 'Tahoma';
}
.merchant-address{
	color: #FFF;
	font-size: 12px;
	font-family: 'Open Sans', 'Tahoma';
	font-weight: normal;
}
.merchant-miles {
	color: #FFF;
	font-size: 12px;
	font-family: 'Open Sans', 'Tahoma';
}
.modal-title-custom{
	font-size: 22px;
	color: #FFF;
}
.merchant-rating{ color: #FFF;  display: flex; font-size: 13px; line-height: 22px; }
.merchant-rating a {color: #FFF;}
.merchant-rating a:hover{ text-decoration: none; color: #5CB76C; }
.login-page{
	background-image: url(../images/bg-login.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


.servicesbg-modal{
	width: 100%;
	max-width: 100%;
}
.service-content{
	padding: 15px;
}


.login-box-body{
/*	border-top: 3px solid #3292CF;
	border-radius: 3px;*/
}
.login-msg{ font-size: 12px; color:#989898;  }
.login-box-body a {color: #666;}
.login-box-body a:hover {color: #eb468a;}
.login-logo-subtitle{
	font-size: 16px;
	line-height: 20px;
/*	font-family: 'Tahoma';*/
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #25313e;
	margin-bottom: 20px;
}
.btn-block a { color: #FFF; }
.btn-block a:hover { color: #25313e; }
.login-position{
/*	padding: 100px;*/
	margin-top: 200px;
}
.merchantprofile-position{
	padding: 20px;
	margin-top: 10px;
}
.login-box-header{
	background-color: #25313e;
	padding: 20px;
	text-align: left;
	color: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.login-input{
	min-height: 40px;
}

/**
	End of Login
**/

/**
	Dashboard General
**/
.ta-center{
	text-align: center;
}
.ta-left{
	text-align: left;
}

.ta-right{
	text-align: right;
}

#logo{
	position: absolute;
	z-index: 10;
	background: #2D749E;
	top: 0;
	height: 130px;
	padding: 15px 20px;
}

#logo h1{
	color: #FFFFFF;
	font-size: 35px;
	font-weight: 600;
}

#logo h1 span{
	font-weight: 300;
}

.titleFA{
	font-size: 22px;
}
.headeerpage-title{
	font-size: 14px;
}

.average-holder{
	text-align: center;
}
.average-title{
	font-size: 13px;
	color: #25313e;
}
.average-number{
	font-size: 30px;
	color: #25313e;
	font-weight: bolder;
}
.waitnumber-holder{
	background-color: #FFF;
	border:1px solid #bfbfbf;
	padding: 5px;
}
.waitnumber-title{
	font-size: 13px;
	color: #8f8f8f;
}
.waitnumber{
	font-size: 22px;
	color: #41586e;
	font-weight: bold;
}
.sidebar-titleholder {
	background-color: #25313e;
	color: #FFF;
	padding: 10px;
}
.division_content {
	border-right: 1px solid #e5e5e5;
    padding: 10px;
}
.division_content2 {
	padding: 10px;
	}
.sidebar-title {
	font-size: 14px !important;
    color: #FFF;
    border-bottom: 0px solid #e5e5e5 !important;
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
}
.sidebar-module{
	padding: 5px;
	border-bottom: 1px solid #495f74;
}
.sidebar-module2{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #495f74;
	font-size: 20px;
}
.sidebar-module3{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #495f74;
	font-size: 20px;
}
.sidebar-module2:hover {
	color: #65bd77;
	cursor: pointer;
}
.sidebar-waitingtitle2 {
	font-size: 14px;
	color: #adbece;
}
.sidebar-waitingtitle {
	font-size: 16px;
	color: #adbece;
}

.sidebar-numbers{
	font-size: 35px;
	font-weight: bold;
	color: #adbece;
}

.breadtitle{
	display: inline-flex;
}
.breadtitle .fa { margin-right: 5px; }

.breadtitle-holder3 {
   margin-top: 15px;
   display: inline-block;
   width: 100%;
}

.paginated-list {
	list-style-type: none;
	padding-left: 0px;
}

.search-paginate {
	color: #524d4d;
    width: 100%;
    line-height: 2.1;
    padding-left: 5px;
    font-size: 16px;
    font-weight: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.breadtitle-holder2 {
    margin-top: 15px;
/*   display: inline-block;*/
}
.breadtitle-holder {
    margin-top: 25px;
    display: inline-block;
}
.services-holder:hover {
	background-color: #41586e;
	color: #FFF;	
}
.services-holder:hover .row .col-md-8 .description-services  {
	color: #FFF;
}
/*.services-holder:hover .row .col-md-8 .description-services p {
	color: #FFF;
}*/
.services-holder:hover .row .col-md-4 .price-services  {
	color: #FFF;
}
.services-holder:hover .ta-right .btn-delete {
	color: #7f7f7f
}

.services-holder{
	background-color: #FFF;
	border: 1px solid #ededed;
	color: #7f7f7f;
	padding: 15px;
	min-height: 205px;
	margin-bottom: 10px;
	cursor: pointer;
}

.services-holder-body {
	min-height: 127px;
}


.specialist-proces{
	list-style: none;
	padding: 0;
	margin: 0;
}
.specialist-proces li {
	float: left;
	position: relative;
    display: block;
    padding: 10px;
}
.specialist-proces li a { display: inline-flex;}
.specialist-avatar{
	min-height: 70px;
	border:1px dashed #CCC;
	padding: 3px;
	margin-left: 5px;
	width: 100%;
	margin-bottom: 10px;
	height: 145px;
}
.specialist-avatar-add{
	height: 250px !important;	
}
.profile-avatar{
min-height: 200px;
    /* border: 1px dashed #CCC; */
    /* padding: 3px; */
    /* margin-left: 5px; */
    width: 100%;
    margin-bottom: 10px;
    height: 200px;
    border-radius: 10px;
}



.specialist-name{
	font-size: 16px;
    color: #34495E;
    font-weight: bold;
	margin-left: 5px;
}
.specialist-status-onservice{
	background-color: #48a75b;
	color: #FFF;
	padding: 6px 12px;
	font-weight: normal;
	text-align: center;
	font-size: 12px;
}
.specialist-status-available{
	background-color: #5e9cce;
	color: #FFF;
	padding: 6px 12px;
	font-weight: normal;
	text-align: center;
	font-size: 12px;
}
.specialist-status-available a { color: #FFF; text-decoration: none; }
.specialist-status-available a:hover { color: #25313e; text-decoration: none; }


.specialist-status-viewall{
	background-color: #41586E;
	color: #FFF;
	padding: 6px 12px;
	font-weight: normal;
	text-align: center;
	font-size: 12px;
}
.specialist-status-viewall a { color: #FFF; text-decoration: none; }
.specialist-status-viewall a:hover { color: #25313e; text-decoration: none; }


.specialist-sched-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #25313e;
    font-weight: normal;
}
.specialist-sched-table th {
	border-top: 1px solid #dddddd;
}
.specialist-sched-table td, th {
/*    border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}

.specialist-sched-table tr:nth-child(even) {
    background-color: #dddddd;
}



.merchant-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #25313e;
    font-weight: normal;
}
.merchant-table th {
	border-top: 1px solid #dddddd;	
	 font-size: 13px;
	 padding: 25px;
	 background: transparent;
}
.merchant-table td { font-weight: normal; font-size: 14px; }
.ping { cursor: pointer; }
.merchant-table-td-th {
	border-bottom: 1px solid #dddddd;
    padding: 25px;
    color: #888;
}

.merchant-table td th {
	border-bottom: 1px solid #dddddd;
    padding: 25px;
    color: #888;
}


.merchant-table tr:nth-child(even) {
    background-color: #FFF;
}



.waitlist-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #25313e;
    font-weight: normal;
 /*   border-bottom: 1px solid #dddddd;*/
}
.waitlist-table th {
	border-top: 1px solid #dddddd;	
	 font-size: 13px;
	 padding: 25px;
	 color: #FFF;
}

.waitlist-table td { font-weight: normal; font-size: 14px; }
.ping { cursor: pointer; }
.waitlist-table-td-th {
/*	border-bottom: 1px solid #dddddd;*/
    padding: 25px;
    color: #888;
}

.waitlist-table td th {
	border-bottom: 1px solid #dddddd;
    padding: 25px;
    color: #25313e;
}


.waitlist-table tr:nth-child(odd) {
    background-color: #FFF;
}


.useraccount-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #25313e;
    font-weight: normal;
}
.useraccount-table th {
/*	border-top: 1px solid #dddddd;	*/
	font-size: 12px;
}
.useraccount-table td { font-weight: normal; font-size: 18px; }
.ping { cursor: pointer; }
.useraccount-table td, th {
	/*border-bottom: 1px solid #dddddd;*/
    padding: 12px;
    color: #FFF;
/*    border-right: 1px solid #dddddd; 
    border-left: 1px solid #dddddd;*/
    font-size: 16px;
   /*font-size: 15px;*/
    background-color: #eb468a;
}

.useraccount-table tr:nth-child(even) {
    background-color: #FFF;
}

.shortcuts{
	    padding: 10px 0;
}
.shortcuts li {
	list-style: none;
	float: left;
    margin: 20px 15px 0 0;
}
.shortcuts li a {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.shortcuts li a:hover{
	text-decoration: none;
	color: #eb468a;
}
.shortcuts-icon{
	font-size: 45px;
    margin-bottom: 10px;
    color: #25313e;
}
.shortcuts-icon:hover{
color: #eb468a;
}

.specialist-name p { font-size: 12px; color: #7f7f7f; font-weight: normal; margin-bottom: 0px; 
	/*display: block;
    display: -webkit-box;
    display: -moz-box;
    max-width: 395px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;*/
    height: 5.6em;
line-height: 1.4em;
overflow: hidden;
position: relative;
}
.specialist-name p:after{
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
bottom: 0;
content: "...";
font-weight: bold;
padding: 0 20px 1px 45px;
position: absolute;
right: 0;
}

.specialist-name p span { font-size: 12px; color: #3b914d; font-weight: normal; }

.title-services{
	font-size: 18px;
/*	margin-bottom: 5px;*/
	font-weight: 600;
}
.description-services{
	font-size: 12px;
}	

.description-services {
    font-size: 12px;
    color: #7f7f7f;
    font-weight: normal;
    margin-bottom: 5px;
    height: 4em;
    line-height: 1.4em;
    overflow: hidden;
    position: relative;
}

.price-services{
	font-size: 28px;
	font-weight: bold;
	color: #25313E;
}
.description-services-modal{
	font-size: 14px;
}


.review-list{
	margin-bottom: 30px;
	border-bottom: 1px #Ccc dashed;
}
.review{
	border:1px solid #CCC;
	margin-bottom: 20px;
}
.review-header{ background-color: #5CB76C; padding: 10px; }
.review-name{
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
}
.review-date {
	font-size: 10px;
	font-weight: normal;
	color: #FFF;
}
.review-body{
	font-size: 12px;
	padding: 10px;

}
.btn-reservation{
/*	width: 35.5%;*/
    min-height: 40px;
    line-height: 40px;
    font-size: 18px;
}


.information-order {
	min-height: 150px;
	color: #444;
}
.information-order span {
	font-weight: 600;
}
.information-order h3{
	margin:0px;
	font-size: 18px;
	color: #D94F6B;
	margin-bottom: 10px;

}

.details-order{
/*	border: 1px solid #CCC;*/
	margin-bottom: 20px;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #bd3652;
}


.custom-color {
	background-color: #D94F6B;
	border: #D94F6B;
}

.body-content-coupon {
	background-color: #FFF;
	padding: 10px;
	height: 500px;
	overflow-x: auto;
	border-left: 1px #CCC solid;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	margin-bottom: 20px;
}
.body-content {
	background-color: #FFF;
	padding: 10px;
		border-left: 1px #CCC solid;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;	
}
.coupon-header{
	background-color: #D94F6B !important;
}
.header-content-coupon{
	margin-top: 20px;
}
.header-content{
	font-size: 16px;
	color: #FFF;
	font-family: 'Tahoma', Open Sans;
	background-color: #5cb76c;
	padding: 10px 10px 10px 10px;
	

}
.title-coupon {font-size: 14px; font-weight: 600; margin-bottom: 5px;}
.coupon_content{
	border: 1px #CCC dashed;
	padding: 10px;
	font-size: 11px;
	margin-bottom: 10px;
}
.edit-text {
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
}
.modal-body-custom{
	padding: 0px !important;
}
.tech-link { border-bottom: 1px dashed #CCC; padding: 10px; } 
.tech-link a { background-color: transparent; }
.tech-link:hover { background-color: #5cb76c; }

.tech-link > a:hover .tech-name, .tech-link > a:hover .tech-skills  {
	color: #FFF;
}

.tech-header{ background-color: #5CB76C; padding: 10px; }
.tech-name{
	font-size: 16px;
	font-weight: 400;
}
.tech-title{
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
	font-weight: bold;
}
.tech-name{
	font-size: 22px;
	font-weight: 400;
	color: #44535A;
	font-weight: bold;
}
.tech-dp {
	min-height: 75px;
}
.tech-skills {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	color: #BBC0C1;
}
.tech-body{
	font-size: 12px;
}

div.stars {
/*  width: 35%;*/
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 16px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}


.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
	background-color: #ffffff;
}

.content-wrapper{
	padding-top: 20px;
}

.box{
	border-color: #3292CF;
}
h3, .h3 {
    font-size: 20px;
    line-height: 1.17647059;
}
.row + .row {
/*    margin-top: 10px;*/
}
.thumbnail_merchant .caption h3 + .wrap {
    margin-top: 5px;
}
.thumbnail_merchant .caption h3{
    font-family: 'Tahoma', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
.thumbnail_merchant .caption .wrap .thumb_ins1 {
    width: 92%;
    color: #333;
}
.thumbnail_merchant .caption .wrap p {
    float: left;
    width: 90%;
    margin: 0;
}
.thumbnail_merchant .caption .wrap a {
 /*   float: right;*/
    margin-top: -20px;
}
.bg3 a.btn-link {
    color: #41586e;
    font-size: 35px;
}
.bg3 a.btn-link:hover{
	color: #65bd77;
}
.thumbnail_merchant .caption .wrap:before, .thumbnail_merchant .caption .wrap:after {
    content: " ";
    display: table;
}
.thumbnail_merchant .caption .wrap:after {
    clear: both;
}
.bg3 {
    background: rgba(255, 255, 255, 0.8);
}
.bg3 h2, .bg3 h3, .bg3 h4 {
    color: #25313e;
}
.thumbnail_merchant .caption {
    padding: 15px 15px 15px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
     margin-left: 15px;
    margin-right: 15px;


}
.thumb-shadow{ margin-top: 20px; }
.thumb-shadow:hover{
	box-shadow: 9px 13px 26px -8px #2d3134;
}




.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  
  font-family: FontAwesome;
  display: inline-block;
  content: "\f087";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ffffff; 
 float: right; 
 padding: 5px;
 background-color: #7CC3A0;
 border-radius: 50%;
 line-height: 1em;
 margin: 5px 2px;
  font-size: 1.05em;
  cursor: pointer;
}



.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFFFFF; background: #00542B;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover  input:checked  label, 
.rating > input:checked  label:hover  label { background: #FBD97E; color: #000000;  }


.headercontent{
	background-color: #25313e;
	padding: 20px;
	text-align: left;
	color: #FFF;
}
.headercontent:before {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
    top: 60px;
    left: 43px;
    border-top-color: #25313e;
    content: " ";
    border-width: 6px;
    box-sizing: border-box;
    z-index: 3;
}
.headercontent:after {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
    top: 60px;
    left: 42px;
    border-top-color: #25313e;
    content: " ";
    border-width: 7px;
    box-sizing: border-box;
    z-index: 2;
}

/** /Cropper **/
/** jQuery Smart Wizard  **/
.form_wizard .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 solid #CCC;
  overflow-x: hidden; }

.wizard_horizontal ul.wizard_steps {
/*  display: table;*/
  display: none;
  list-style: none;
  position: relative;
  width: 100%;
  /*margin: 0 0 20px;*/ }

.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center; }

.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 15px;
  width: 100%;
  z-index: 4;
  left: 0; }

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 12px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
  background: #25313e;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
  background: #65bd77;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%; }

.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto; }

.wizard_verticle .stepContainer {
  width: 80%;
  float: left;
  padding: 0 10px; }

.actionBar {
  width: 100%;
/*  border-top: 1px solid #ddd;*/
  padding: 10px 5px;
  text-align: right;
 /* margin-top: 10px;*/ }

.actionBar .buttonDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.actionBar a {
  margin: 0 3px; }

.wizard_verticle .wizard_content {
  width: 80%;
  float: left;
  padding-left: 20px; }

.wizard_verticle ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 20%;
  float: left;
  margin: 0 0 20px; }

.wizard_verticle ul.wizard_steps li {
  display: list-item;
  text-align: center; }

.wizard_verticle ul.wizard_steps li a {
  height: 80px; }

.wizard_verticle ul.wizard_steps li a:first-child {
  margin-top: 20px; }

.wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_verticle ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 100%;
  background: #ccc;
  top: 20px;
  width: 4px;
  z-index: 4;
  left: 49%; }

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_verticle ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
  background: #34495E;
  color: #fff; }

.wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
  background: #1ABB9C;
  color: #fff; }

.wizard_verticle ul.wizard_steps li:first-child a:before {
  left: 49%; }

.wizard_verticle ul.wizard_steps li:last-child a:before {
  left: 49%;
  left: auto;
  width: 0; }

.form_wizard .loader {
  display: none; }

.form_wizard .msgBox {
  display: none; }

/** jQuery Smart Wizard  **/


.success-title{
	font-size: 30px;
	color: #EB468A;
	font-weight: bold;
}

.reservation-process-holder{
	width: 80%;
	margin: 0 auto;
	background-color: #FFF;
	border: 1px solid #ccc;
	padding: 20px;
}

.formholder{
	background-color: #FFF;
	padding: 20px;
}
.summary-info{
	font-size: 13px;
}
.logomerchant {
	min-width: 300px;
	min-height: 100px;
	margin-bottom: 10px;
}
#home {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* opacity: 0.5; */
}
#home .bghome {
    min-height: 350px;
}
#overlay_home {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.5);
    /* background: linear-gradient(180deg,rgba(0,0,0,.7) 0,rgba(0,0,0,.14) 30%,rgba(0,0,0,.35) 70%,rgba(0,0,0,.7)); */
}

.profile-info-position{
	margin-top: 100px;
}
.nav-tabs-custome-nobg{
	background: transparent;
	margin-top: -44px;
}
.nav-tabs-custom > .nav-tabs-edited{
	border-bottom-color: transparent;
}
.nav-tabs-custom > .nav-tabs-edited > li > a {
	color: #f7f7f7;
	font-weight: 500;
}
.nav-tabs-custom > .tab-content-edited{
/*	background-color: rgba(255, 255, 255, 0.3);*/
padding: 20px;
	color: #444;
}

.nav-tabs-custom > .tab-content-edited2{
	background-color: rgba(255, 255, 255, 0.3);
}

.profile-header-bg{
	background-color: #FFF;
	padding: 10px;
}
.profile-logo {
	min-height: 100px;
	min-width: 150px;
}
.profile-banner{
}
.profile-banner-bg{
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.summary-info .row div{
	margin-bottom: 4px;
}

.summary-info .summary-title{
	color: #747474;
}

.summary-info a.summary-attachment{
	display: block;
	text-align: center;
	font-size: 10px;
	color: #3292CF;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	word-wrap: break-word;
}

.summary-info a.summary-attachment i{
	display: block;
	font-size: 26px;
	padding: 5px 0;
}

.summary-info a.summary-attachment:hover{
	background-color: #3292CF;
	color: #FFFFFF;
}

.custom-form-group::after{
	content: " ";
	clear:both;
	display: block;
}

.custom-form-group > label{
	width: 30%;
	float: left;
	margin-top: 5px;
}

.custom-form-group > input,  .custom-form-group > select, .custom-form-group > div.input-group{
	width: 70%;
	float: right;
}

.no-sort{
	padding-right: 0px !important;
}

.no-sort::after{
	display: none !important;
}

.dt-edit{
	font-size: 17px;
}

.dt-remove{
	color: #dd4b39;
	font-size: 17px;
}

.dt-remove:hover{
	color: #C3402F;
}

.custom-product-group{
	border-top: 1px solid #CBCBCB;
	padding-top: 20px;
}

.custom-product-group:first-child{
	border-top: none;
	padding-top: 0px;
}

.custom-product-group select optgroup{
	font-size: 16px;
}

.custom-product-group select optgroup option{
	font-size: 14px;
}

.custom-product-group h2.selected-product{
	margin: 10px 0;
	font-size: 20px;
}

#add-more{
	font-size: 15px;
}

#order-summary .prodsum{
	border-bottom: dashed 1px #D7D7D7;
	padding-bottom: 20px;
	margin-top: 20px;
}

#order-summary .prodsum:first-child{
	margin-top: 10px;
}

#order-summary .prodsum:last-child{
	border-bottom: none;
	padding-bottom: 10px;
}

#order-summary .prodsum h3.OSProdName{
	margin: 0 0 5px;
	font-size: 20px;
}

#order-summary .prodsum h5.OSProdBill{
	margin: 0;
	font-size: 14px;
}

#order-summary .prodsum h5.OSProdPrice{
	margin: 5px 0 0;
	font-size: 20px;
	text-align: right;
}

#order-total h3.OSTotalBill{
	margin: 0;
	font-size: 24px;
	text-align: right;	
}

#order-total h3.OSTotalBill span{
	font-size: 16px;
}

.custom-select-boxtool{
	display:inline-block;
	width: auto;
	height: 30px;
	vertical-align: top;
	max-width: 200px;
	padding: 3px 12px;
}

.custom-checkboxgrp{
	margin-top: 5px;
	padding-bottom: 8px;
}

.custom-checkboxgrp .icheckbox_minimal-blue{
	margin-left: 10px;
}
/**
	End of Dashboard General
**/


/* Tiny Carousel */
#slider1 {
    margin: 30px 0 0;
/*    overflow: hidden;*/
    position: relative;
/*    padding: 0 50px 10px;*/
}

.controls-specialist{
	margin-top: -40px;
}
#slider1 .viewport {
    height: auto;
/*    min-height: 1200px;
    overflow: hidden;*/
    position: relative;
}

#slider1 .buttons {
    display: block;
    position: absolute;
    top: 10%;
/* left: 0;*/
   right: 60px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 10%;
}



#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

.overview li {
    float: left;
    /*margin: 60px 20px 0 0;*
    border: 1px solid #dcdcdc;/
    /*width: 376px;*/
  /*  margin: 5px;*/
      min-height: 240px;
    max-width: 100%;
  margin-bottom: 20px;
 }


.specialist-header-list{
	padding: 15px;
	color: #FFF;
	margin: 10px;
	font-size: 14px;
	background-color: #25313e;
	border-bottom: 4px solid #eb468a;
}
.specialist-body-list {
	padding: 10px;
	background-color: #FFF;
	color: #8f8f8f;
	min-height: 180px;
	margin: 10px;
    margin-top: -10px;
}

.sched-holder{
	border: 1px solid #CCC;
}
.sched-header{
	padding: 8px 10px;
	color: #25313E;
	font-weight: bold;
	background-color: #d7d7d7;
/*	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;*/
}
.sched-body{
	padding: 10px;
}

.sched-body .form-group {
	margin-bottom: 0px;
}


.branch-show-holder{
	border: 1px solid #CCC;
}
.branch-show-header{
	padding: 8px 10px;
	color: #FFF;
	font-weight: normal;
	background-color: #41586e;
	border-bottom: 1px solid #CCC;
	font-size: 14px;

}
.branch-show-body{
	padding: 10px;
}




/**
	Sidelinks
**/
.sidelink{
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.sidelink-title{
	margin: 0;
	padding: 15px;
	background: #3292CF;
	border-radius: 3px 3px 0px 0px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 400;
	display: none;
}

.sidelink-nav{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.sidelink-nav li{
	border-bottom: solid 1px #E4E4E4;
}

.sidelink-nav li:last-child{
	border-bottom: none;
}

.sidelink-nav li a{
	display: block;
	background:#FFFFFF;
	color: #191919;
	font-size: 16px;
	padding: 14px 15px;
}

.sidelink-nav li:last-child a{
	border-radius: 0px 0px 3px 3px;
}

.sidelink-nav li a:hover, .sidelink-nav li a.selected{
	background: #166da5;
	color: #FFFFFF;
}

.sidelink-nav li a i{
	display: none;
}

/**
	End of Sidelinks
**/



/**
	Agents Portal
**/
#merchant-info-wrap, #product-info-wrap{
	transition: all 400ms ease;
}

.box-hidden{
	transform: translate(-120%,0);
	position: absolute;
}

#product-info-wrap text-area{
	resize: none;
}

.custom-convert-wrap{
	font-weight: 800;
}

.custom-convert-wrap .custom-convert-input{
	display: inline-block;
	width: 40%;
}

.custom-textarea{
	resize: none;
}

.icon-td{
	font-size: 17px;
	text-align: center;
	padding: 8px 0px !important;
}

.custom-fl-right{
	float: right;
}


.custom-modal .modal-header{
	background-color: #3292CF;
	color: #FFFFFF;
}

.modal-comment .modal-lg{
	width: 98%;
	max-width: 1200px;
}

.modal-comment .modal-content{
	background-color: #EFEFEF;
}

.inputfile, .inputradio {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1em;
	font-weight: 400;
    color: #191919;
/*    background-color: #DCDCDC;*/
    display: inline-block;
	cursor: pointer;
	padding: 10px 15px;
	margin-top: 5px;
}

.inputfile + label > i{
	font-size: 0.9em;
	letter-spacing: 4px;
}

.inputfile:focus + label,
.inputfile + label:hover {
/*    background-color: #094F7B;*/
	color: #FFFFFF;
}

.inputradio + label{
	margin-right: 10px;
	cursor: pointer;
	color: #888888;
}

.inputradio:checked + label{
	color: #0F0F0F;
}

#post-comment select{
	display: inline-block;
	width: auto;
	height: 32px;
	padding: 4px 8px;
}



#post-comment .custom-fl-right, .comment-post-reply .custom-fl-right{
	margin-top: 5px;
}

.comment-view{
	margin-top: 0px !important;
}

.comment-view a{
	display: inline-block;
	vertical-align: top;
	padding: 1px 4px;
	background-color: #FFFFFF;
	margin-right: 5px;
	box-shadow: 0px 1px 4px #CDCDCD;
}

#comment-list .comment{
	margin: 10px 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #FFFFFF;
}

#comment-list .comment .comment-block{
	margin: 0 10px;
	padding: 10px 0;
	border-bottom: 1px solid #D7D7D7;
}

#comment-list .comment .comment-reply{
	margin-left: 30px;
	display: none;
}

#comment-list .comment .comment-block .comment-author{
	font-weight: 600;
}

#comment-list .comment .comment-block .comment-date{
	color:#3A3A3A;
}

#comment-list .comment .comment-block .comment-desc{
	padding-top: 6px;
}

#comment-list .comment .comment-options{
	padding: 10px;
}

#comment-list .comment .comment-options a{
	margin-right: 10px;
}

#comment-list .comment .comment-options a.showless, #comment-list .comment .comment-options a.cancelreply{
	display: none;
}

#comment-list .comment .comment-post-reply{
	display: none;
	margin: 0 10px;
	padding-top: 10px;
}

.custom-contact-wrap-sm{
	margin-left: -5px;
	margin-right: -5px;
}
.custom-contact-wrap-sm span { font-weight: 600; font-size: 16px; }

.custom-contact-wrap-sm .sm-col{
	padding-left: 5px;
	padding-right: 5px;
}

.custom-contact-wrap-sm .sm-col label{
	display: block;
}

.custom-contact-wrap-sm .form-group{
	margin-bottom: 5px;
}

.tabbtn{
	margin-top: 10px;
}

.custom-input-2{
	width: 58px;
}

.custom-input-5{
	width: 65px;
}

.req{
	color: #DB0003;
}

.nav-tabs-custom > .nav-tabs > li {
	border-top: none;
	font-weight: 600;
	margin-right: 0px;
	background-color: rgba(255, 255, 255, 0.3);
}

.nav-tabs-custom > .nav-tabs > li.active a{
	background: #65bd77;
	color: #f7f7f7;
}

.nav-tabs-custom > .nav-tabs > li a:hover, .nav-tabs-custom > .nav-tabs > li.active a:hover{
	background: #65bd77;
	color: #FFFFFF;
}


/**
	Media
**/
@media screen and (max-width: 1100px){
	.sidelink-wrap{
		width: 100px;
		position: fixed;
		z-index: 100;
	}
	
	.sidelink-nav li a{
		text-align: center;
		font-size: 10px;
	}
	
	.sidelink-nav li a i{
		display: inline-block;
		font-size: 32px;
	}
	
	.merchantinfo-wrap{
		width: 100%;
		padding-left: 110px;
	}
}

div#dlg_messageerror {
    z-index: 1100;
}

#search-find {
	width: 100%;
	margin-top: 15px;
 	display: inline-block;
}

/*for jquery autocomplete*/
.ui-autocomplete-input {
  border: none; 
  /*font-size: 14px;*/
  width: 300px;
  /*height: 24px;*/
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}
.ui-menu .ui-menu-item a {
  font-size: 12px;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}

.customer-loader {
	background: url(../images/customer-loader.gif) no-repeat right center;
}