@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
body {
  padding-top: 80px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #25313E;
}
a {
  color: #65BD77;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #51a663;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 37px;
  color: #25313e;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  margin-left: -70px;
  height: 1px;
  background: #25313e;
  width: 140px;
  bottom: 0;
  left: 50%;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #89cc97;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
}

.section-reservation {
  margin-bottom: 20px;
}

.section-reservation p {
  line-height: 15px;
}
.section-reservation .section-title {
  font-size: 35px;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
/*  padding-bottom: 20px;
  margin: 0 0 20px;*/
}
.btn-edit-profile{
z-index: 5;
    margin-top: -50px;
    float: right;
    position: relative;
}

.nav .avatar {
    width: 45px;
    margin-top: -12px;
    margin-right: 5px;
}
.avatar img {
    border-radius: 50%;
    max-width: 45px;
}

.profile-top-space{
  margin-top:-100px;
}
.qrcode-profile{
  border:3px solid #FFF;
}
.profile-dp-holder{
  padding-left: 20px;
  position: relative;
}
.profile-dp {

    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px rgba(175, 175, 175, 0.3);
}
.profile-details {
  margin-bottom: 50px;
}
.profile-name{
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 5px;
}
.profile-detail {
  font-size: 13px;
  color: #FFF;
      margin-bottom: 5px;
      line-height: 13px;
}
.profile-detail .fa { font-size: 15px; }
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #65bd77;
  border-color: #50a361;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #71cd84;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #79B388;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle li {
  margin-bottom: 10px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
/*    background: rgba(255, 255, 255, 0.9);*/
    background-color: #25313e;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 27px;
    border-top: 3px solid #89CC97;
    background-color: #1b252e;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #65BD77;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #65BD77;
    background-color: transparent;
  }
}
#main-page {
  background: #242a33 url(../images/main/bg-main.png) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

#main-page h2 {
    color: #fff;
    font-size: 44px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}
#main-page p { line-height: 17px; }
#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #45aed6;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #89CC97;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.quickbook {
  background: rgba(2, 13, 31, 0.49);
  margin: 50px;
}
.searchhome-content {
    padding: 20px 20px 20px 20px;
}
.searchhome-content h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 0px;
}

.featured h2{
  color: #FFF;
}








#cta {
  padding: 50px 0;
  background-color: #eeeeee;
  background: #242a33 url(../images/gray-bg.jpg);
  background-repeat: repeat-x;
}
#cta p {
  line-height: 20px;
}
#cta h2 {
  margin-top: 0;
  font-size: 18px;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#features {
  padding: 50px 0;
}
#features p {
  line-height: 17px;
  font-size: 12px;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#features .coupon {
  border: 1px dashed #ccc;
  padding:15px;
}
#merchant-profile {
  background-color: #F7F8F9;
}
#merchant-listing{
  background-color: #F7F8F9;
}

.glyphicon { margin-right:5px; }
.thumbnail, .thumbnail2
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item-fav{
  padding: 10px 5px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #89CC97;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
    width: 20%;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .thumbnail2
{
    margin-bottom: 0px;
    min-height: 140px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
..list-group-item-text label {
  font-size: 14px;
}
.refine-search {
  background-color: #FFF;
}
.refine-search .title{
  border-bottom: 1px solid #e9e9e9;
    color: #25313E;
    font-weight: 600;
   margin: 5px 0px 20px 0px;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
}
.refine-search-part {
      border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.refine-search-part label {
  color: #666;
  font-size: 1em;
    font-weight: 500;
    line-height: 25px;
}
.store-list-page {
  position: relative;
    z-index: 1;
    color: #666;
}

.paginate { padding: 0; margin: 0; }
.paginate > li { padding: 0; list-style: none; /*padding: 10px 20px;*/
 /*border: 1px solid #ddd;*/ /*margin: 10px 0;*/ }

/*.store-list-page article:first-child {
   border-top: transparent;
}*/
.store-list-page article {
    position: relative;
    min-height: 122px;
    padding: 26px 0px 26px 149px;
    border-bottom: 1px dashed #e5e5e5;
}
.store-list-page article header {
    padding: 0 0 9px;
    color: #898989;
}

.store-list-page article header h2 {
    margin: 0 0 4px;
    color: #25313E;
    font-size: 1.3em;
    font-weight: 700;
} 
.store-list-page article header h2 a { color:#25313E; text-decoration: none;  }
.store-list-page article header h2 a:hover { color:#51a663; text-decoration: none;  }
.store-list-page article header figure {
    position: absolute;
    left: 0;
    top: 28px;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.30);
}
.store-list-page article header figure img {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.store-list-page article header figure img {
    display: block;
    position: relative;
    z-index: 1;
    border: 1px dashed #e5e5e5;
}
.store-list-page article header figure figcaption  {
    position: absolute;
    right: 10px;
    bottom: -2px;
    z-index: 2;
}
.store-list-page article p {
    margin: 0 0 9px;
    font-size: 0.9em;
    line-height: 1.2;
}
.store-list-page article footer {
    overflow: hidden;
    width: 100%;
    color: #1a90e0;
}
.store-list-page article footer p {
    float: left;
    font-size: 1.1em;
}
.store-list-page article footer .rate-listing{
  font-size: 12px;
  color: #898989;
  text-decoration: none;
  display: inline-flex;
  line-height: 10px;
}

.store-list-page article footer .rate-listing .fa {
  font-size: 16px;
  padding-left: 5px;
  color: #ffd925;
    position: relative;
}



.rate-listing2{
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  display: inline-flex;
  line-height: 10px;
}
.rate-listing2 .fa {
  font-size: 16px;
  padding-left: 5px;
  color: #ffd925;
  line-height: 25px;
  position: relative;
}


.store-list-page article footer .link-b {
    position: relative;
    top: 3px;
    float: right;
    width: auto;
}
.link-b a {
    display: block;
    float: left;
    padding: 0 10px 0 0;
    color: #89CC97;
    font-size: 13px;
    font-style: italic;
}
.link-b a:hover{
  color: #4fa260;
}
.p20 {
    padding: 20px;
}
.background-white {
    background-color: #fff;
    line-height: 20px;
}
.rate-listing {
    font-size: 12px;
    color: #898989;
    text-decoration: none;
    display: inline-flex;
    line-height: 10px;
}
.rate-listing .fa {
  font-size: 16px;
  padding-left: 5px;
  color: #ffd925;
    position: relative;
}

.background-white-border {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    margin-top: 20px;
}
.about-title-support {
    border-bottom: 1px solid #e9e9e9;
    color: #363636;
    font-weight: 600;
   margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
}
.background-white-border p {
  line-height: 17px;
  font-size: 12px;
   color: #898989;
}
.about-title2 {
    border-bottom: 1px solid #e9e9e9;
    color: #25313E;
    font-weight: 600;
   margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
}
.about-title2 span {
  color: #65BD77;
  font-weight: 600;
}
.note-reservation {
  font-size: 11px;
  line-height: 11px;
  color: #999;
  font-style: italic;
  margin-top: 5px;
}





.detail-content  .summary {
    position: relative;
}
.detail-content .summary .summary-icon {
    display: block;
    position: absolute;
    left: 0;
}
.detail-content .summary .summary-icon i {
    display: block;
    background-color: #89CC97;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    height: 50px;
    line-height: 20px;
    padding-top: 14px;
    text-align: center;
    width: 50px;
}

.detail-content .summary .summary-content {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 70px;
    padding-bottom: 20px;
}
.detail-content .summary .summary-content h4 { font-size: 14px; margin: 0; }
.detail-content .summary .summary-content p {margin-bottom: 0px; font-size: 12px;}

.agreement {
  display: inline-flex;
  width: 100%;
}
.form-group .agreement input {
    width: 17px;
    height: 24px;
}
.form-group .agreement label {
    font-size: 14px;
    width: auto;
    padding: 3px 10px 0;
}
.form-group .agreement span {
  display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-weight: bold;
    color: #51a663;
    text-align: center;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.form-group p {
  line-height: 12px;
}
.return-btn {
  background: #242a33 url(../images/customer-return.jpg) no-repeat 50% 50%;
  background-size: cover;
  min-height: 250px;
}
.guest-btn {
  background: #242a33 url(../images/guest.jpg) no-repeat 50% 50%;
  background-size: cover;
  min-height: 100px;
}
.guest-btn .content {
  padding: 10px;
  color: #FFF;
}
.guest-btn .content p { margin-bottom: 0px; font-size: 12px; color: #FFF; }
.guest-btn .content h2 { color: #FFF; font-size: 20px; margin-bottom: 0px; }
.guest-btn .content a {color: #FFF; font-size: 13px;}
.guest-btn .content a:hover{ color:#51a663;  }

.return-customer h2 { color: #25313E; font-size: 20px; margin-bottom: 0px; margin-top: 0px; }
.return-customer p { margin-bottom: 10px; font-size: 12px; }
.signup-btn {
  background: #242a33 url(../images/customer.jpg) no-repeat 50% 50%;
  background-size: cover;
  min-height: 100px;
}
.signup-btn .content {
  padding: 10px;
  color: #FFF;
}
.signup-btn .content p { margin-bottom: 0px; font-size: 12px; color: #FFF; }
.signup-btn .content h2 { color: #FFF; font-size: 20px; margin-bottom: 0px; }
.signup-btn .content a {color: #FFF; font-size: 12px;}
.signup-btn .content a:hover{ color:#51a663;  }


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(86, 232, 97, 0.8) url(../images/arrowup.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}


.services-choice {
  list-style: none;
  margin:0;
  padding: 0;
  display: inline-table;
}
.services-choice li {
  margin-top: -10px;
}

.spacing-form{
  margin-bottom: 20px;
  margin-top: 20px; 
}
.spacing-form2{
  margin-bottom:50px;
  margin-top: 50px; 
}

.about-title {
    border-bottom: 1px solid #e9e9e9;
    color: #363636;
    font-weight: 300;
    margin: 20px 0px 30px 0px;
    padding-bottom: 20px;
    font-size: 26px;
    line-height: 26px;
}
.about-title span {
  color: #65BD77;
}
.detail-content .detail-contact {
    display: table-cell;
}

.detail-content .detail-vcard {
    border-bottom: 1px solid #e9e9e9;
    display: table;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.detail-content .detail-logo {
    display: table-cell;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}

.detail-content .detail-contact div {
    padding-bottom: 5px;
    padding-left: 30px;
    position: relative;
    line-height: 25px;
}

.detail-content .detail-contact a {
    color: rgba(54, 54, 54, 0.6);
    transition: all 0.15s linear;
}

.detail-content .detail-contact div i {
    color: #65BD77;
    left: 0px;
    margin-top: 3px;
    position: absolute;
    text-align: center;
    width: 15px;
}

.detail-content .detail-description {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.detail-content .detail-credit {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.detail-content .detail-credit h5 {
    display: table-cell;
    white-space: nowrap;
    font-size: 16px;
    color: #363636;
    font-weight: 300;
}


.detail-content .detail-description  p {
  color: rgba(54, 54, 54, 0.6);
    transition: all 0.15s linear;
    font-size: 13px;
    line-height: 20px;
}

.detail-content .detail-follow {
    display: table;
    width: 100%;
/*    border-bottom: 1px solid #e9e9e9;*/
/*    margin-bottom: 20px;
    padding-bottom: 20px;*/
}
.detail-content .detail-follow h5 {
    display: table-cell;
    white-space: nowrap;
    font-size: 14px;
    /*color: #363636;*/

        color: rgba(54, 54, 54, 0.6);
    transition: all 0.15s linear;
    font-weight: 300;
}

.detail-content .detail-follow .follow-wrapper {
    display: table-cell;
    text-align: right;
    width: 100%;
}

.detail-overview-hearts i {
    color: #d81814;
    font-size: 22px;
}

.detail-overview-rating i {
    color: #ffd925;
    font-size: 22px;
}

/* social */
.detail-follow .facebook {
    background-color: #365397;
}
.detail-follow .youtube {
    background-color: #ff3333;
}
.detail-follow .twitter {
    background-color: #00a9f1;
}
.detail-follow .google-plus {
    background-color: #e0452c;
}


.follow-btn {
    background-color: #b6b7b8;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    opacity: .85;
    padding-top: 3px;
    margin-right: 8px;
    text-align: center;
    transition: all linear .07s;
    width: 30px;
}

.working-hours {

}
.working-hours .day {
    border-bottom: 1px solid #e9e9e9;
    line-height: 38px;
}
.working-hours .name {
    font-weight: 700;
}
.working-hours .hours {
    float: right;
    font-size: 12px;
}

.coupon_content {
    border: 1px #CCC dashed;
    padding: 10px;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 18px;
}
.title-coupon {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

/*.detail-content p {line-height: 18px;}*/
.services {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services li {
  font-size: 16px;
  font-weight: 400;
}
.services li p {
  font-size: 12px;
  line-height: 16px;
}
.services li input[type=checkbox] { height: 20px; }
#services {
  padding: 100px 0 75px;
}
#services p {
  line-height: 20px;
}
.review{
  color: rgba(54, 54, 54, 0.6);
  margin-bottom: 40px;
}
.review p {
  color: rgba(54, 54, 54, 0.6);
  font-size: 12px;
  line-height: 20px;
}
.review .profile {
  width: 100%;
  border-radius: 50%;
}
.writereview-profile {
  width: 100%;
  border-radius: 50%;
}
.review .review-title {
    border-bottom: 1px solid #f7f8f9;
    margin: 12px 0px 25px 0px;
    overflow: hidden;
    padding: 0px 0px 25px 0px;
}
.review .review-title h2 {
    border-bottom: none;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin: 2px 0px 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
}
.review-overall-rating {
    color: #ffd925;
    font-size: 18px;
    line-height: 1;
    position: relative;
}
.review-overall-rating .overall-rating-title {
    color: #b6b7b8;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-right: 8px;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 -16px;
}

/*.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
  font-size: 25px;
  margin-bottom: 20px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #ffd925;

}*/

.modal-content {
  font-size: 13px
}


.header-review{
  margin-top: 10px;
}
.modal-review-storetitle {
    color: #f4f4f4;
    font-size: 26px;
    font-weight: normal;
    line-height: 26px;
}
.modal-specialist-title {
    color: #25313E;
    font-size: 18px;
    font-weight: normal;
}

.specialist-select{
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.specialist-select:hover{
  background-color: #
}
.custom-modal-close{
  background-color: #000;
    border-radius: 50%;
    padding: 5px;
    width: 31px;
    color: #FFF;
}

.modalreview-header{
    background: #242a33 url(../images/main/bg-main.png) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
    padding: 30px;
}
.modal-title-custom {
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
}

.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #45aed6;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
#portfolio {
 padding: 70px 0px;
/*  background: #f5f5f5;*/
}
#portfolio p {
  line-height: 22px;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #45aed6;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-items {
  margin: -15px;
  cursor: pointer;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
/*  opacity: 0;*/
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  line-height: 11px;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, #89cc97 0%, #5cc172 100%);
 background-image: -webkit-linear-gradient(90deg, #89cc97 0%, #5cc172 100%);
  background-image: -ms-linear-gradient(90deg, #89cc97 0%, #5cc172 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#testimonial {
  background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial p {
  line-height: 20px;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}

.set-2{margin-top:0px;}
.set-2 ul { padding-left: 0px; }
.set-2 ul li{display:inline-block;margin-left:20px;margin-top:0px;}
.set-2 a {
  position: relative;
    color: #ffffff;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
        line-height: 25px;
  font-size:16px;
padding:10px 15px 10px 60px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}


a.twitter-small, a.twitter-big{
 -webkit-box-shadow: 0px 4px 0px #2695BC;
    -moz-box-shadow: 0px 4px 0px #2695BC;
    box-shadow: 0px 4px 0px #2695BC;
}
a.twitter-small{background:#2CA9E1 url("../images/twitter.png") no-repeat center center;}
a.twitter-big{background:#2CA9E1;}

a.twitter-small:active, a.twitter-big:active{ -webkit-box-shadow: 0px 2px 0px #2695BC;
    -moz-box-shadow: 0px 2px 0px #2695BC;
    box-shadow: 0px 2px 0px #2695BC;
}

a.twitter-big:before{background: url("../images/twitter.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}


a.facebook-small, a.facebook-big{
 -webkit-box-shadow: 0px 4px 0px #293F63;
    -moz-box-shadow: 0px 4px 0px #293F63;
    box-shadow: 0px 4px 0px #293F63;
}
a.facebook-small{background:#3B5997 url("../images/facebook.png") no-repeat center center;}
a.facebook-big{background:#3B5997;}

a.facebook-small:active, a.facebook-big:active{ -webkit-box-shadow: 0px 2px 0px #293F63;
    -moz-box-shadow: 0px 2px 0px #293F63;
    box-shadow: 0px 2px 0px #293F63;
}

a.facebook-big:before{background: url("../images/facebook.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.pinterest-small, a.pinterest-big{
 -webkit-box-shadow: 0px 4px 0px #8C151B;
    -moz-box-shadow: 0px 4px 0px #8C151B;
    box-shadow: 0px 4px 0px #8C151B;
}
a.pinterest-small{background:#CD1D1F url("../images/pinterest.png") no-repeat center center;}
a.pinterest-big{background:#CD1D1F}

a.pinterest-small:active, a.pinterest-big:active{ -webkit-box-shadow: 0px 2px 0px #8C151B;
    -moz-box-shadow: 0px 2px 0px #8C151B;
    box-shadow: 0px 2px 0px #8C151B;
}
a.pinterest-big:before{background: url("../images/pinterest.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.gplus-small, a.gplus-big{
 -webkit-box-shadow: 0px 4px 0px #141412;
    -moz-box-shadow: 0px 4px 0px #141412;
    box-shadow: 0px 4px 0px #141412;
  position:relative;
}
a.gplus-small{background:#353631 url("../images/gplus.png") no-repeat center center;}
a.gplus-big{background:#353631;}
a.gplus-small:active, a.gplus-big:active{ -webkit-box-shadow: 0px 2px 0px #141412;
    -moz-box-shadow: 0px 2px 0px #141412;
    box-shadow: 0px 2px 0px #141412;
}
a.gplus-big:before{background: url("../images/gplus.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.rss-small,a.rss-big{
 -webkit-box-shadow: 0px 4px 0px #C64802;
    -moz-box-shadow: 0px 4px 0px #C64802;
    box-shadow: 0px 4px 0px #C64802;
}
a.rss-small{background:#FF6501 url("../images/rss.png") no-repeat center center;}
a.rss-big{background:#FF6501;}
a.rss-small:active, a.rss-big:active{ -webkit-box-shadow: 0px 2px 0px #C64802;
    -moz-box-shadow: 0px 2px 0px #C64802;
    box-shadow: 0px 2px 0px #C64802;
}
a.rss-big:before{background: url("../images/rss.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.dribbble-small, a.dribbble-big{
 -webkit-box-shadow: 0px 4px 0px #B23D6D;
    -moz-box-shadow: 0px 4px 0px #B23D6D;
    box-shadow: 0px 4px 0px #B23D6D;
}
a.dribbble-small{background:#E84D89 url("../images/dribbble.png") no-repeat center center;}
a.dribbble-big{background:#E84D89;}
a.dribbble-small:active, a.dribbble-big:active{ -webkit-box-shadow: 0px 2px 0px #B23D6D;
    -moz-box-shadow: 0px 2px 0px #B23D6D;
    box-shadow: 0px 2px 0px #B23D6D;
}
a.dribbble-big:before{background: url("../images/dribbble.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}

a.linkedin-small, a.linkedin-big{
 -webkit-box-shadow: 0px 4px 0px #005377;
    -moz-box-shadow: 0px 4px 0px #005377;
    box-shadow: 0px 4px 0px #005377;
}
a.linkedin-small{background:#0073B2 url("../images/linkedin.png") no-repeat center center;}
a.linkedin-big{background:#0073B2;}
a.linkedin-small:active, a.linkedin-big:active{ -webkit-box-shadow: 0px 2px 0px #005377;
    -moz-box-shadow: 0px 2px 0px #005377;
    box-shadow: 0px 2px 0px #005377;
}
a.linkedin-big:before{background: url("../images/linkedin.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.stumble-small, a.stumble-big{
 -webkit-box-shadow: 0px 4px 0px #B7371D;
    -moz-box-shadow: 0px 4px 0px #B7371D;
    box-shadow: 0px 4px 0px #B7371D;
}
a.stumble-small{background:#EA4B24 url("../images/stumble.png") no-repeat center center;}
a.stumble-big{background:#EA4B24;}
a.stumble-small:active, a.stumble-big:active{ -webkit-box-shadow: 0px 2px 0px #B7371D;
    -moz-box-shadow: 0px 2px 0px #B7371D;
    box-shadow: 0px 2px 0px #B7371D;
}
a.stumble-big:before{background: url("../images/stumble.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.flickr-small, a.flickr-big{
 -webkit-box-shadow: 0px 4px 0px #C10E78;
    -moz-box-shadow: 0px 4px 0px #C10E78;
    box-shadow: 0px 4px 0px #C10E78;
}
a.flickr-small{background:#FC1090 url("../images/flickr.png") no-repeat center center;}
a.flickr-big{background:#FC1090;}
a.flickr-small:active, a.flickr-big:active{ -webkit-box-shadow: 0px 2px 0px #C10E78;
    -moz-box-shadow: 0px 2px 0px #C10E78;
    box-shadow: 0px 2px 0px #C10E78;
}
a.flickr-big:before{background: url("../images/flickr.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}
a.vimeo-small, a.vimeo-big{
 -webkit-box-shadow: 0px 4px 0px #1993AF;
    -moz-box-shadow: 0px 4px 0px #1993AF;
    box-shadow: 0px 4px 0px #1993AF;
}
a.vimeo-small{background:#20B9EB url("../images/vimeo.png") no-repeat center center;}
a.vimeo-big{background:#20B9EB;}
a.vimeo-small:active, a.vimeo-big:active{ -webkit-box-shadow: 0px 2px 0px #1993AF;
    -moz-box-shadow: 0px 2px 0px #1993AF;
    box-shadow: 0px 2px 0px #1993AF;
}
a.vimeo-big:before{background: url("../images/vimeo.png") no-repeat center center;
content:"";
width:30px;
height:30px;
position:absolute;
left:10px;
top:18%;
}


.login-wrap2{
  width:100%;
  margin:auto;
  max-width:650px;
  min-height:1000px;
  position:relative;
/*  background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;*/
  /*box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
}
.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:670px;
  position:relative;
/*  background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;*/
  /*box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:50px 30px 50px 30px;
/*  background:rgba(40,57,101,.9);*/
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  -webkit-transform:rotateY(180deg);
          transform:rotateY(180deg);
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}
.login-form{
  min-height:345px;
  position:relative;
  -webkit-perspective:1000px;
          perspective:1000px;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;

}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:20px 25px;
  border-radius:5px;
  background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#e0e0e0;
  font-size:12px;
  line-height: normal;
}
.login-form .group .label2{
  color:#e0e0e0;
  font-size:12px;
  text-align: left;
  line-height: normal;
}
.login-form .group .button{
    background: #65bd77;
    border-color: #50a361;
    border-bottom: 3px solid #50a361;
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  -webkit-transition:all .2s ease-in-out 0s;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  -webkit-transform:scale(0) rotate(0);
          transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  -webkit-transform:scale(0) rotate(0);
          transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#65bd77;
}
.login-form .group .check:checked + label .icon:before{
  -webkit-transform:scale(1) rotate(45deg);
          transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  -webkit-transform:scale(1) rotate(-45deg);
          transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  -webkit-transform:rotate(0);
          transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  -webkit-transform:rotate(0);
          transform:rotate(0);
}
.login-html p {
  padding-bottom: 5px;
  line-height: 17px;
}
.hr{
  height:2px;
  margin:20px 0 20px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}



#about {
  padding: 100px 0;
}
#about p {
  line-height: 20px;
}
#work-process {
  padding: 100px 0 100px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#work-process p {
  line-height: 20px;
}
#work-process h2 {
  color: #fff;
}
#work-process h3 {
  color: #fff;
  margin-bottom: 0;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #45aed6;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #45aed6;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#work-process h3 {
  margin-bottom: 50px;
}
#meet-team {
  padding: 100px 0;
}
#meet-team .team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#meet-team .team-member:hover {
  border-color: #45aed6;
}
#meet-team .team-member:hover .social-icons > li > a {
  background: #45aed6;
}
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
#meet-team .social-icons > li {
  display: inline-block;
}
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}

.team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
   cursor: pointer;
   min-height: 290px;
   margin-bottom: 10px;
}
.team-member .team-img {
  margin: -15px -15px 0 -15px;
}
.team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  line-height: 18px;
}
.team-member .team-info  h3 {
  margin-bottom: 0px;
  font-size: 18px;
}

.team-member:hover {
  border-color: #51a663;
}
.team-member:hover .social-icons > li > a {
  background: #51a663;
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons > li {
  display: inline-block;
}
.social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}


.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #25313E;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #25313E;
  color: #89CC97;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
/*  border: 1px solid #eee;*/
  border-top: 0;
/*  padding: 20px 20px 10px;*/
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}

#funfact {
  padding: 100px 0 100px;
  background-color: #FFF;
  color: #64686d;
}
#funfact p, small {
  line-height: 20px;
}

#funfact h1,
#funfact h2,
#funfact h3,
#funfact h4 {
  color: #25313E;
}
#funfact strong {
  display: block;
  margin-bottom: 30px;
}

#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number p, small {
  line-height: 20px;
}

#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #87C894;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}
#pricing ul.pricing.featured li.plan-header {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}
#get-in-touch {
  padding: 100px 0 50px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
}
#get-in-touch h1,
#get-in-touch h2 {
  color: #fff;
}
.merchant-miles { line-height: 25px; }
.merchant-rating{ color: #FFF;  display: flex; font-size: 13px; line-height: 25px; }
.merchant-rating a {color: #FFF;}
.merchant-rating a:hover{ text-decoration: none; color: #5CB76C; }
.merchant-title {
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
/*  font-family: 'Open Sans', 'Tahoma';*/
  line-height: 28px;
}
.merchant-about {line-height: 25px;}
#cities{
  padding: 20px 0 20px;
  background-color: #41586E;
  color: #ADBECE;
}
#cities h1,
#cities h2 {
  color: #ADBECE;
}

#cities ul {
  float: left;
  margin:0;
  padding: 0; 
}
#cities li {
  float: left;
  list-style: none;
}
#cities li a{
  color: #ADBECE;
  text-decoration: none;
  margin: 5px;
    padding: 5px;
  line-height: 20px;
}
#cities li a:hover{
  text-decoration: none;
  color: #FFF;
}

#blog {
  padding: 100px 0;
}
#blog .blog-post {
  border: 1px solid #eee;
  padding: 15px;
}
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: #45aed6;
}
#contact {
  position: relative;
  overflow: hidden;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}
/***********************
********* Footer ******
************************/
.footer-header {
  background: #FFF;
}
.footer-content {
  color: #fff;
  background: #65BD77;
  font-family: Tahoma, "Open sans", Helvetica, Arial !important;
  font-size: 12px;
  line-height: 14px;
  padding: 25px 35px;
}
.footer-content span{
  font-size: 18px;
  line-height: 18px;
}

#footer {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff;
  background: #25313E;
   font-family: Tahoma, "Open sans", Helvetica, Arial !important;
   font-size: 12px;
   line-height: 14px;
}
#footer p{
  line-height: 20px;
}
.footer-title {
    font-family: Tahoma, "Open sans", Helvetica, Arial !important;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer a {
  color: #fff;
  font-size: 12px;;
}
#footer a:hover {
  color: #89CC97;
}

#footer ul {
  padding: 0;
  margin: 0;
}
#footer li {
  list-style: none;
  padding-left: 0px;
  margin: 5px;
/*  margin-bottom: 15px;*/
}

.footer3 {
    background: url(../images/footer2.png) repeat;
    padding: 25px 0; 
    color: #FFF;
    font-size: 12px;
    line-height: 17px;
    margin-top: 70px;
/*    margin-bottom: 30px;*/
}

.footer3 a {
  color: #fff;
  font-size: 12px;
}
.footer3 a:hover {
  color: #89CC97;
}


.social-icons {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
.social-icons li {
  display: inline-block;
  margin: 0 3.5px;
}
.social-icons li a {
  font-size: 16px;
  background-color: #1b252e;
  padding: 5px;
  min-width: 15px;
}


.footer2 {
    margin: 0;
    padding: 0;
}
.footer2 li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 15px;
}
.footer2 li a {
  color: #fff;
}
.footer2 li a:hover {
  color: #89CC97;
}

.detail-content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn-mark{
  margin-top: 10px;
}

.btn-reservation {
  height: 50px;
  line-height: 30px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {

}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}


@media (min-width: 320px) {
    .navbar-brand {
    float: none;
  }
 .navbar-brand>img {
    /*  width: 100%;*/
    padding: 10px;
  }
  .navbar.navbar-default .navbar-toggle {
    margin-top: 30px;
  }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }
  #main-page {
    padding-top: 0px;
  }
  .logo-merchant {
    padding: 50px;
  }
  .modalreview-header {
    padding: 20px;
  }
  .modal-review-storetitle {
    font-size: 22px;
    line-height: 22px;
  }
  .team-member {
     min-height: 270px;
  }
   .form-group .agreement label {
   line-height: 20px;
   }
   .guest-btn{
      margin-top: 10px;
    }
     .signup-btn{
      margin-top: 10px;
    }
       .return-btn {
   min-height: 80px;
   margin-top: 10px;
 }
 .spacing-form2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
   .return-customer {
    margin-top: 10px;
  }
  .services-choice li {
  margin-top: 0px;
  }
    .section-reservation .section-title {
    font-size: 25px;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
  }
  .set-2 ul li {
    display: inline-block;
     margin-left: 0px; 
    margin-top: 0px;
    margin-bottom: 10px;
  }
   .profile-top-space{
      margin-top:-130px;
  }
  .nospace {
    padding-left: 0px;
  }
    .qrcode-profile {
    border: 1px solid #FFF;
  }
  .btn-edit-profile{
  z-index: 5;
    margin-top: -30px;
    float: right;
    position: relative;
    padding: 2px 8px;
  }
    .profile-name {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 5px;
  }
   .item.list-group-item .list-group-image
  {
      margin-right: 10px;
      width: 100%;
      margin-bottom: 5px;
  }
     .item.list-group-item .list-group-image2
  {
      margin-right: 10px;
        width: 100%;
        margin-bottom: 10px;
  }
    .item.list-group-item .thumbnail2
  {
      margin-bottom: 0px;
  }

}
@media (min-width: 480px) {
    .navbar-brand {
    float: none;
  }
  .navbar-brand>img {
/*      width: 70%;*/
    padding: 10px;
  }
  .navbar.navbar-default .navbar-toggle {
    margin-top: 30px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }
  .logo-merchant {
    padding: 50px;
  }
    #main-page {
    padding-top: 0px;
  }
   .modalreview-header {
    padding: 20px;
  }
  .modal-review-storetitle {
    font-size: 24px;
        line-height: 24px;
  }
   .team-member {
     min-height: 250px;
  }
   .form-group .agreement label {
   line-height: 20px;
   }
   .guest-btn{
      margin-top: 10px;
    }
    .signup-btn{
      margin-top: 10px;
    }
    .return-btn {
  min-height: 80px;
  margin-top: 10px;
 }
 .spacing-form2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .return-customer {
    margin-top: 10px;
  }
  .services-choice li {
  margin-top: 0px;
  }
  .section-reservation .section-title {
    font-size: 25px;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
  }
  .set-2 ul li {
    display: inline-block;
     margin-left: 0px; 
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .profile-top-space{
  margin-top:-130px;
  }
  .nospace {
    padding-left: 0px;
  }
  .qrcode-profile {
    border: 1px solid #FFF;
  }
  .btn-edit-profile{
  z-index: 5;
    margin-top: -30px;
    float: right;
    position: relative;
    padding: 2px 8px;
  }
   .profile-name {
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 5px;
  }
   .item.list-group-item .list-group-image
  {
      margin-right: 10px;
      width: 100%;
      margin-bottom: 5px;
  }
    .item.list-group-item .list-group-image2
  {
      margin-right: 10px;
        width: 100%;
        margin-bottom: 10px;
  }
  .item.list-group-item .thumbnail2
  {
      margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
   .navbar-brand>img { 
    width: 100%;
    padding:0px;
   }
     #main-page {
    padding-top: 70px;
   }
  .logo-merchant {
    padding: 0px;
  }
   .modalreview-header {
    padding: 30px;
  }
  .modal-review-storetitle {
    font-size: 26px;
        line-height: 30px;
  }
 .team-member {
  min-height: 290px;
 }
 .form-group .agreement label {
   line-height: 23px;
 }
 .guest-btn{
  margin-top: 0px;
 }
  .signup-btn{
      margin-top: 0px;
    }
 .return-btn {
  min-height: 250px;
  margin-top: 0px;
 }
 .spacing-form2 {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .return-customer {
    margin-top: 0px;
  }
  .services-choice li {
  margin-top: -10px;
  }
  .section-reservation .section-title {
    font-size: 35px;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
  }
  .set-2 ul li {
    display: inline-block;
     margin-left: 20px; 
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .profile-top-space{
  margin-top:-120px;
  }
   .nospace {
    padding-left: 15px;
  }
  .qrcode-profile {
    border: 3px solid #FFF;
  }
  .btn-edit-profile{
  z-index: 5;
    margin-top: -50px;
    float: right;
    position: relative;
    padding: 4px 10px;
  }
  .profile-name {
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .item.list-group-item .list-group-image
  {
      margin-right: 10px;
      width: 20%;
  }
   .item.list-group-item .list-group-image2
  {
      margin-right: 10px;
      width: 29%;
      margin-bottom: 10px;
  }
  .item.list-group-item .thumbnail2
  {
      margin-bottom: 0px;
      min-height: 140px;
  }
}