

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);


@major_color: #45aed6;
@text_color: #64686d;

body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: @text_color;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Roboto', sans-serif;
  color:#272727;
}

a {
  color: @major_color;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition:  color 400ms, background-color 400ms;
  transition:  color 400ms, background-color 400ms;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken(@major_color, 10%);
  }

}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.gradiant {
  background-image: -moz-linear-gradient( 90deg, rgb(44,170,179) 0%, rgb(44,140,179) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(44,170,179) 0%, rgb(44,140,179) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(44,170,179) 0%, rgb(44,140,179) 100%);
}

.gradiant-horizontal {
  background-image: -moz-linear-gradient( 4deg, rgb(44,170,179) 0%, rgb(44,140,179) 100%);
  background-image: -webkit-linear-gradient( 4deg, rgb(44,170,179) 0%, rgb(44,140,179) 100%);
  background-image: -ms-linear-gradient( 4deg, rgb(44,170,179) 0%, rgb(44,140,179) 100%);
}


//Section title
.section-header {
  .section-title {
    font-size: 44px;
    color: rgb(39, 39, 39);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
    &:before {
      content: "";
      position: absolute;
      width: 140px;
      bottom: 0;
      left: 50%;
      margin-left: -70px;
      height: 1px;
      background: #ebebeb;
    }

    &:after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: -11px;
      left: 50%;
      margin-left: -12px;
      border: 5px solid #fff;
      border-radius: 20px;
      background: @major_color;
    }
  }
  margin-bottom: 50px;
}

.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
  &.btn-primary {
    background: @major_color;
    border-color: darken(@major_color, 10%);
    &:hover, 
    &:focus{
      background: darken(@major_color, 10%);
    } 
  }
}

.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 40%;
    border-bottom: 1px solid @major_color;
  }
}

ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  i {
    color: @major_color;
  }
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

//Navbar
.navbar {
  &.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-toggle {
      margin-top: 32px;
    }

    .navbar-brand {
      height: auto;
      padding: 22px 15px 21px;
    }
  }
}

@media only screen and (min-width : 768px) {
  #main-menu {
    &.navbar-default {
      background: rgba(255, 255, 255, 0.9);
      -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
      box-shadow: 0 0 3px 0 rgba(0,0,0,.1);

      //Nav
      .navbar-nav {
        >li{
          >a {
            padding-top: 40px;
            padding-bottom: 40px;
          }

          &.active>a,
          &.open>a,
          &:hover>a {
            background: transparent;
            padding-top: 37px;
            border-top: 3px solid @major_color;
          }
        }
      }
      //Dropdown
      .dropdown-menu {
        padding: 0 20px;
        min-width: 220px;
        background-color: fade(#1a1c28, 90%);
        border: 0;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        background-clip: inherit;
        >li{
          border-left: 3px solid transparent;
          margin-left: -20px;
          padding-left: 17px;
          -webit-transition: border-color 400ms;
          transition: border-color 400ms;
          >a{
            border-top: 1px solid #404455;
            padding: 15px 0;
            color: #eeeeee; 
          }
          &:first-child>a {
            border-top: 0;
          }

          &.active,
          &.open,
          &:hover {
            border-left-color: @major_color;
            >a {
              color: @major_color;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}


//Slider
#main-slider {
  overflow: hidden;

  .item {
    height: 558px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;

    //Styling
    h2 {
      margin-top: 180px;
      font-size: 36px;
      line-height: 1;
      text-transform: uppercase;
      color: #fff;
      >span {
        color: @major_color;
      }
    }
    .btn {
      margin-top: 10px;
    }
  }

  //Buttons
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 30px;
    display: inline-block;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100px;
    z-index: 5;
    -webkit-transition: background-color 400ms;
    transition: background-color 400ms;
    &:hover {
      background-color: @major_color;
    }
  }

  .owl-prev {
    left: -35px;
    text-indent: 14px;
  }

  .owl-next {
    right: -35px;
    text-indent: -14px;
  }
}


@media only screen and (min-width : 768px) {
  #main-slider {
    .slider-inner {
      h2 {
        
      }
    }
  }
}


#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: @major_color;
}
#progressBar{
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}


//CTA
#cta {
  padding: 50px 0;
  background-color: #eeeeee;

  h2 {
    margin-top: 0;
  }

  .btn {
    margin-top: 40px;
  }
}

#cta2 {
  background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
  .btn {
    margin-top: 10px;
  }
  h2 {
    color: #fff;
    font-size: 44px;
    line-height: 1;
    >span {
      color: @major_color;
    }
  }
}

//Features
#features {
  padding: 100px 0;
  .media.service-box {
    &:first-child {
      margin-top: 80px;
    }
  }
}


//Services
#services {
  padding: 100px 0 75px;
}

.media.service-box {
  margin: 25px 0;
  .pull-left {
    margin-right: 20px;
    >i {
      font-size: 24px;
      height: 64px;
      line-height: 64px;
      text-align: center;
      width: 64px;
      border-radius: 100%;
      color: @major_color;
      box-shadow: inset 0 0 0 1px #d7d7d7;
      -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
      transition: background-color 400ms, background-color 400ms;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        margin-top: -10px;
        right: -10px;
        border: 4px solid #fff;
        border-radius: 20px;
        background: @major_color;
      }
    }
  }

  &:hover {
    .pull-left {
      >i {
        .gradiant();
        color: #fff;
        box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
      }
    }
  }
}

//Portfolio
#portfolio {
  padding: 100px 0;
  background: #f5f5f5;

  .portfolio-filter {
    list-style: none;
    padding: 0;
    margin: 0 0 50px;
    display: inline-block;
    >li {
      float: left;
      display: block;
      a{
        display: block;
        padding: 7px 15px;
        background: #e5e5e5;
        color: @text_color;
        position: relative;
        &:hover,
        &.active {
          background: @major_color;
          color: #fff;
          box-shadow: 0 -3px 0 0 #318daf inset;
          -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
        }

        &.active:after {
          content: " ";
          position: absolute;
          bottom: -17px;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: #318daf transparent transparent transparent;
        }

      }
      &:first-child {
        a {
          border-radius: 4px 0 0 4px;
        }
      }
      &:last-child {
        a {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }

  .portfolio-items {
    margin: -15px;
  }

  .portfolio-item {
    width: 24.9%;
    float: left;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    .portfolio-item-inner {
      position: relative;

      .portfolio-info {
        opacity: 0;
        transition: opacity 400ms;
        -webkit-transition: opacity 400ms;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        h3 {
          font-size: 16px;
          line-height: 1;
          margin: 0;
          color: #fff;
        }

        .preview {
          position: absolute;
          top: -18px;
          right: 12px;
          border-radius: 50%;
          .gradiant();
          width: 36px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          color: #fff;
          box-shadow: 0 0 0 2px #fff;
          -webkit-box-shadow: 0 0 0 2px #fff;
        }

      }
    }

    &:hover {
      .portfolio-info {
        opacity: 1;
      }
    }

  }

}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

//Testimonial
#testimonial {
  background: #333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
  h4 {
    color: #fff;
    margin-bottom: 0;
  }

  small {
    display: block;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
  }

  .btns {
    margin-top: 10px;
  }
}

#about {
  padding: 100px 0;
}

//Work Process
#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
  h2 {
    color: #fff;
  }

  h3 {
    color: #fff;
    margin-bottom: 0;
  }

  .icon-circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid @major_color;
    border-radius: 100px;
    position: relative;

    >span {
      border-style: solid;
      border-width: 2px;
      border-color: @major_color;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      width: 24px;
      height: 24px;
      line-height: 20px;
      top: -12px;
      color: @text_color;
    }
  }

  h3 {
    margin-bottom: 50px;
  }
}

//Meet The Team

#meet-team {
  padding: 100px 0;
  .team-member {
    padding: 13px;
    background: #eeeeee;
    border: 2px solid #eeeeee;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;

    .team-img {
      margin: -15px -15px 0 -15px;
    }

    .team-info {
      padding-bottom: 10px;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 10px;
    }

    &:hover {
      border-color: @major_color;
      .social-icons>li>a {
        background: @major_color;
      }
    }
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    >li {
      display: inline-block;
      >a {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        background: #222534;
        border-radius: 3px;
      }
    }
  }
}

//About Us Info
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient( 180deg, rgb(255,255,255) 0%, rgb(227,227,227) 49%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(255,255,255) 0%, rgb(227,227,227) 49%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(255,255,255) 0%, rgb(227,227,227) 49%, rgb(255,255,255) 100%);
  width: 95%;
  height: 1px;
}

//Progress
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
  .progress-bar {
    &.progress-bar-primary {
      .gradiant-horizontal();
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

//Tab
.nav {
  &.main-tab {
    background: #eee;
    border-bottom: 3px solid #222534;
    border-radius: 3px 3px 0 0;
    >li{
      >a {
        color: #272727;
      }
      &.active {
        >a {
          background: #222534;
          color: @major_color;
        }
      }
      &:first-child {
        >a {
          border-radius: 3px 0 0 0;
        }
      }
      &:last-child {
        >a {
          border-radius: 0 3px 0 0;
        }
      }
    }
  }
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}

//Accordion
.panel-default {
  border-color: #eee;
  >.panel-heading {
    background-color: #fff;
    border-color: #eee;
    .panel-title {
      font-size: 14px;
      font-weight: normal;
    }
  }

  >.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #eee;
  }
}

//Animated Number
#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
  h1,h2,h3,h4 {
    color: #fff;
  }

  strong {
    display: block;
    margin-bottom: 30px;
  }
}

.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}

//Pricing Table
#pricing {
  padding: 100px 0 70px;
  ul.pricing {
    list-style: none;
    padding: 0;
    margin: 70px 0 30px;
    border: 1px solid #eee;
    border-radius: 5px 5px 4px 4px;
    padding: 15px;
    text-align: center;
    
    li {
      display: block;
      padding: 10px;
    }

    li.plan-header {
      background: #eee;
      border-radius: 4px 4px 0 0;
      margin: -15px -15px 10px;
      padding: 15px 15px 30px;
      border: 0;

      .price-duration {
        position: relative;
        margin-top: -63px;
        top: -10px;
        display: inline-block;
        width: 116px;
        height: 116px;
        .gradiant();
        color: #fff;
        border-radius: 100px;
        border: 5px solid #f6f6f6;
        >span {
          display: block;
          line-height: 1;
          &.price {
            font-size: 24px;
            font-weight: 700;
            margin-top: 35px;
          }
          &.duration {
            margin-top: 5px;
          }
        }
      }

      .plan-name {
        margin-top: 10px;
        font-size: 24px;
        color: #272727;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
      }
    }

    &.featured {
      background: #222534;
      color: #fff;
      border: 0;
      li.plan-header {
        .gradiant();
        .plan-name {
          color: #fff;
        }
      }

    }

  }
}


//Get In Touch
#get-in-touch {
  padding: 100px 0 50px;
  .gradiant();
  //background: @major_color;
  color: #fff;
  h1,h2 {
    color: #fff;
  }
}

#blog {
  padding: 100px 0;
  .blog-post {
    border: 1px solid #eee;
    padding: 15px;

    .post-format {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 34px;
      text-align: center;
      color: #fff;
      background: #222534;
      border: 3px solid #fff;
      border-radius: 100px;
    }

    &.blog-large {
      .entry-thumbnail {
        margin: -15px -15px 15px;
        position: relative;
      }

      .post-format {
        width: 66px;
        height: 66px;
        line-height: 60px;
        position: absolute;
        right: 20px;
        bottom: -33px;
        >i {
          font-size: 20px;
        }
      }

      .entry-date {
        font-size: 12px;
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: @major_color;
      }

      .entry-title  {
        margin-top: 0;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 15px;
        a {
          color: @text_color;
          &:hover {
            color: @major_color;
          }
        }
      }
    }

    &.blog-media {
      margin-bottom: 30px;
      
      .entry-thumbnail {
        margin: -15px 15px -15px -15px;
        position: relative;
      }

      .post-format {
        position: absolute;
        top: 20px;
        right: -10px;
      }

      .entry-date {
        font-size: 12px;
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: @major_color;
      }

      .entry-title  {
        margin-top: 0;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 15px;
        a {
          color: @text_color;
          &:hover {
            color: @major_color;
          }
        }
      }

    }
     
    .entry-meta {
      margin-top: 20px;
      border-top: 1px solid #eee;
      padding-top: 15px;
      >span {
        display: inline-block;
        margin-right: 10px;
        color: #999;
        >a {
          color: #999;
          &:hover {
            color: @major_color;
          }
        }
      }
    }
  }
}

//Contact
#contact {
  position: relative;
  overflow: hidden;
  .container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade(@major_color, 30%);
    z-index: 1;
  }

  .contact-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 50px;
    h3 {
      margin-top: 0;
    }
  }
}

/***********************
********* Footer ******
************************/

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: @major_color;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}

#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}

@media only screen and (min-width : 768px) {
  #footer .social-icons {
    float: right;
  }
}

//Others
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}






