    <!-- jQuery 2.2.3 -->
<!-- <script src="{$webroot_resources}/plugins/jQuery/jquery-2.2.3.min.js"></script> -->
<script src="{$webroot_resources}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$webroot_resources}/js/calculator.js"></script>
    <div class="login-box">
        <!-- <div class="login-logo">
        	<a href="{$webroot}"><b>GO</b>ETU</a>
        </div> -->
    <!-- /.login-logo -->
        <div class="login-box-body">
        	<!-- <p class="login-box-msg">Sign in</p> -->
        
            <form action="" name ="frmLogin" id= "frmLogin" method="post">
                    <label for="country">State:</label>
					<select class="form-control select2" style="width: 100%;" id="txtState" name="txtState">
					  <option value="">Select State</option>
	                  <option value="New South Wales">New South Wales</option>
	                  <option value="Northern Territory">Northern Territory</option>
	                  <option value="Queensland">Queensland</option>
	                  <option value="South Australia">South Australia</option>
	                  <option value="Tasmania">Tasmania</option>
	                  <option value="Victoria">Victoria</option>
	                  <option value="Western Australia">Western Australia</option>
	                  
	                </select>
	                <label for="country">City:</label>
					<select class="form-control select2" style="width: 100%;" id="txtCity" name="txtCity">
						
	                </select>
	                <label for="country">Product:</label>
					<select class="form-control select2" style="width: 100%;" id="txtProduct" name="txtProduct">
						<option value="Unleaded Petrol">Unleaded Petrol</option>
						<option value="Premium Unleaded Petrol">Premium Unleaded Petrol</option>
						<option value="Unleaded Petrol E10">Unleaded Petrol E10</option>
						<option value="Unleaded Petrol 98">Unleaded Petrol 98</option>
						<option value="Diesel">Diesel</option>
	                </select>
	                <label for="country">Compute Per:</label>
					<select class="form-control select2" style="width: 100%;" id="txtComputePer" name="txtComputePer">
						<option value="">Select</option>
						<option value="Week">Week</option>
						<option value="Month">Month</option>
						<option value="Year">Year</option>
	                </select>
	                <label for="country" id="lblPer" name="lblPer">Fuel used:</label>
	                <input type="text" name="txtLitre" id="txtLitre"><br>
	                <label for="country">Price at Service Station Pump:</label>
	                <input type="text" name="txtServicePrice" id="txtServicePrice"><br>
	                
	                <label for="country">Price at delivered Country areas:</label>
	                <input type="text" name="txtAreaPrice" id="txtAreaPrice" readonly="readonly"><br>
	                
	                <label for="country">Current Terminal Gate Price including Delivery:</label>
	                
	                <input type="text" name="txtTerminalPrice" id="txtTerminalPrice"><br>
	                
	                <h1 id="savings" name="savings">$0.00</h1>
            </form>
        
            <!-- <a href="#">I forgot my password</a><br> -->
        
        </div>
    <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
