/* Custom CSS Document */


/**
	Login
**/
.login-page{
	background-image: url(../images/bg-login.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.login-box-body{
	border-top: 3px solid #3292CF;
	border-radius: 3px;
}
/**
	End of Login
**/

/**
	Dashboard General
**/
.ta-center{
	text-align: center;
}

.ta-right{
	text-align: right;
}

#logo{
	position: absolute;
	z-index: 10;
	background: #2D749E;
	top: 0;
	height: 115px;
	padding: 15px 20px;
}

#logo h1{
	color: #FFFFFF;
	font-size: 35px;
	font-weight: 600;
}

#logo h1 span{
	font-weight: 300;
}

.nav > li > a{
	font-size: 16px;
}

.nav > li.wsubnav > a > i{
	transition: all 300ms ease;
	font-size: 10px;
	position: absolute;
	right: 5px;
	bottom: 15px;
}

.navigation{
	margin-left: 180px;
}

.subnavigation{
	position:absolute;
	display: none;
}

.subnavigation > li{
	display: inline-block;
}

.subnavigation > li > a{
	color: #191919 !important;
}

.nav li.wsubnav:hover{
	background: rgba(0, 0, 0, 0.1);
}

.nav li.wsubnav:hover > a > i{
	bottom: -7px;
	color: #3292CF;
}

.nav li.wsubnav:hover > ul.subnavigation {
	display: block;
}

.sub-nav-wrapper{
	background: #FFFFFF;
	min-height: 50px;
}

.skin-blue .sidebar-form{
	border: 1px solid #E0E0E0;
    margin: 6px 10px;
	width: 200px;
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
	background-color: #ffffff;
}

.content-wrapper{
	padding-top: 20px;
}

.box{
	border-color: #3292CF;
}

.summary-info{
	font-size: 13px;
}

.summary-info .row div{
	margin-bottom: 4px;
}

.summary-info .summary-title{
	color: #747474;
}

.summary-info a.summary-attachment{
	display: block;
	text-align: center;
	font-size: 10px;
	color: #3292CF;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	word-wrap: break-word;
}

.summary-info a.summary-attachment i{
	display: block;
	font-size: 26px;
	padding: 5px 0;
}

.summary-info a.summary-attachment:hover{
	background-color: #3292CF;
	color: #FFFFFF;
}

.custom-form-group::after{
	content: " ";
	clear:both;
	display: block;
}

.custom-form-group > label{
	width: 30%;
	float: left;
	margin-top: 5px;
}

.custom-form-group > input,  .custom-form-group > select, .custom-form-group > div.input-group{
	width: 70%;
	float: right;
}

.no-sort{
	padding-right: 0px !important;
}

.no-sort::after{
	display: none !important;
}

.dt-edit{
	font-size: 17px;
}

.dt-remove{
	color: #dd4b39;
	font-size: 17px;
}

.dt-remove:hover{
	color: #C3402F;
}

.custom-product-group{
	border-top: 1px solid #CBCBCB;
	padding-top: 20px;
}

.custom-product-group:first-child{
	border-top: none;
	padding-top: 0px;
}

.custom-product-group select optgroup{
	font-size: 16px;
}

.custom-product-group select optgroup option{
	font-size: 14px;
}

.custom-product-group h2.selected-product{
	margin: 10px 0;
	font-size: 20px;
}

#add-more{
	font-size: 15px;
}

#order-summary .prodsum{
	border-bottom: dashed 1px #D7D7D7;
	padding-bottom: 20px;
	margin-top: 20px;
}

#order-summary .prodsum:first-child{
	margin-top: 10px;
}

#order-summary .prodsum:last-child{
	border-bottom: none;
	padding-bottom: 10px;
}

#order-summary .prodsum h3.OSProdName{
	margin: 0 0 5px;
	font-size: 20px;
}

#order-summary .prodsum h5.OSProdBill{
	margin: 0;
	font-size: 14px;
}

#order-summary .prodsum h5.OSProdPrice{
	margin: 5px 0 0;
	font-size: 20px;
	text-align: right;
}

#order-total h3.OSTotalBill{
	margin: 0;
	font-size: 24px;
	text-align: right;	
}

#order-total h3.OSTotalBill span{
	font-size: 16px;
}

.custom-select-boxtool{
	display:inline-block;
	width: auto;
	height: 30px;
	vertical-align: top;
	max-width: 200px;
	padding: 3px 12px;
}

.custom-checkboxgrp{
	margin-top: 5px;
	padding-bottom: 8px;
}

.custom-checkboxgrp .icheckbox_minimal-blue{
	margin-left: 10px;
}
/**
	End of Dashboard General
**/


/**
	Sidelinks
**/
.sidelink{
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.sidelink-title{
	margin: 0;
	padding: 15px;
	background: #3292CF;
	border-radius: 3px 3px 0px 0px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 400;
	display: none;
}

.sidelink-nav{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.sidelink-nav li{
	border-bottom: solid 1px #E4E4E4;
}

.sidelink-nav li:last-child{
	border-bottom: none;
}

.sidelink-nav li a{
	display: block;
	background:#FFFFFF;
	color: #191919;
	font-size: 16px;
	padding: 14px 15px;
}

.sidelink-nav li:last-child a{
	border-radius: 0px 0px 3px 3px;
}

.sidelink-nav li a:hover, .sidelink-nav li a.selected{
	background: #166da5;
	color: #FFFFFF;
}

.sidelink-nav li a i{
	display: none;
}

/**
	End of Sidelinks
**/



/**
	Agents Portal
**/
#merchant-info-wrap, #product-info-wrap{
	transition: all 400ms ease;
}

.box-hidden{
	transform: translate(-120%,0);
	position: absolute;
}

#product-info-wrap text-area{
	resize: none;
}

.custom-convert-wrap{
	font-weight: 800;
}

.custom-convert-wrap .custom-convert-input{
	display: inline-block;
	width: 40%;
}

.custom-textarea{
	resize: none;
}

.icon-td{
	font-size: 17px;
	text-align: center;
	padding: 8px 0px !important;
}

.custom-fl-right{
	float: right;
}

.custom-modal .modal-header{
	background-color: #3292CF;
	color: #FFFFFF;
}

.modal-comment .modal-lg{
	width: 98%;
	max-width: 1200px;
}

.modal-comment .modal-content{
	background-color: #EFEFEF;
}

.inputfile, .inputradio {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1em;
	font-weight: 400;
    color: #191919;
    background-color: #DCDCDC;
    display: inline-block;
	cursor: pointer;
	padding: 5px 10px;
	margin-top: 5px;
}

.inputfile + label > i{
	font-size: 0.9em;
	letter-spacing: 4px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #094F7B;
	color: #FFFFFF;
}

.inputradio + label{
	margin-right: 10px;
	cursor: pointer;
	color: #888888;
}

.inputradio:checked + label{
	color: #0F0F0F;
}

#post-comment select{
	display: inline-block;
	width: auto;
	height: 32px;
	padding: 4px 8px;
}



#post-comment .custom-fl-right, .comment-post-reply .custom-fl-right{
	margin-top: 5px;
}

.comment-view{
	margin-top: 0px !important;
}

.comment-view a{
	display: inline-block;
	vertical-align: top;
	padding: 1px 4px;
	background-color: #FFFFFF;
	margin-right: 5px;
	box-shadow: 0px 1px 4px #CDCDCD;
}

#comment-list .comment{
	margin: 10px 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background-color: #FFFFFF;
}

#comment-list .comment .comment-block{
	margin: 0 10px;
	padding: 10px 0;
	border-bottom: 1px solid #D7D7D7;
}

#comment-list .comment .comment-reply{
	margin-left: 30px;
	display: none;
}

#comment-list .comment .comment-block .comment-author{
	font-weight: 600;
}

#comment-list .comment .comment-block .comment-date{
	color:#3A3A3A;
}

#comment-list .comment .comment-block .comment-desc{
	padding-top: 6px;
}

#comment-list .comment .comment-options{
	padding: 10px;
}

#comment-list .comment .comment-options a{
	margin-right: 10px;
}

#comment-list .comment .comment-options a.showless, #comment-list .comment .comment-options a.cancelreply{
	display: none;
}

#comment-list .comment .comment-post-reply{
	display: none;
	margin: 0 10px;
	padding-top: 10px;
}

/**
	Media
**/
@media screen and (max-width: 1100px){
	.sidelink-wrap{
		width: 100px;
		position: fixed;
		z-index: 100;
	}
	
	.sidelink-nav li a{
		text-align: center;
		font-size: 10px;
	}
	
	.sidelink-nav li a i{
		display: inline-block;
		font-size: 32px;
	}
	
	.merchantinfo-wrap{
		width: 100%;
		padding-left: 110px;
	}
}
