@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}
a {
  color: #65BD77;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #51a663;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}

.section-reservation {
  margin-bottom: 20px;
}
.section-reservation .section-title {
  font-size: 35px;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
/*  padding-bottom: 20px;
  margin: 0 0 20px;*/
}


	#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: -150px;
}

#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #65bd77;
  border-color: #50a361;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #71cd84;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
/*    background: rgba(255, 255, 255, 0.9);*/
    background-color: #25313e;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #89CC97;
    background-color: #1b252e;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}
#main-page {
  background: #242a33 url(../images/main/bg-main.png) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #45aed6;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #89CC97;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.quickbook {
  background: rgba(2, 13, 31, 0.38);
}
.searchhome-content {
    padding: 20px 20px 40px 20px;
}
.searchhome-content h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 0px;
}

.featured h2{
  color: #FFF;
}








#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#merchant-profile {
  background-color: #F7F8F9;
}
#merchant-listing{
  background-color: #F7F8F9;
}

.refine-search {
  background-color: #FFF;
}
.refine-search .title{
  border-bottom: 1px solid #e9e9e9;
    color: #25313E;
    font-weight: 600;
   margin: 0px 0px 10px 0px;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
}
.refine-search-part {
      border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.refine-search-part label {
  color: #666;
  font-size: 1em;
    font-weight: 500;
}
.store-list-page {
  position: relative;
    z-index: 1;
    color: #666;
}

.paginate { padding: 0; margin: 0; }
.paginate > li { padding: 0; list-style: none; /*padding: 10px 20px;*/
 /*border: 1px solid #ddd;*/ /*margin: 10px 0;*/ }

/*.store-list-page article:first-child {
   border-top: transparent;
}*/
.store-list-page article {
    position: relative;
    min-height: 122px;
    padding: 26px 0px 26px 149px;
    border-bottom: 1px dashed #e5e5e5;
}
.store-list-page article header {
    padding: 0 0 9px;
    color: #898989;
}

.store-list-page article header h2 {
    margin: 0 0 4px;
    color: #25313E;
    font-size: 1.3em;
    font-weight: 700;
}
.store-list-page article header figure {
    position: absolute;
    left: 0;
    top: 28px;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.30);
}
.store-list-page article header figure img {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.store-list-page article header figure img {
    display: block;
    position: relative;
    z-index: 1;
    border: 1px dashed #e5e5e5;
}
.store-list-page article header figure figcaption  {
    position: absolute;
    right: 10px;
    bottom: -2px;
    z-index: 2;
}
.store-list-page article p {
    margin: 0 0 9px;
    font-size: 0.9em;
    line-height: 1.2;
}
.store-list-page article footer {
    overflow: hidden;
    width: 100%;
    color: #1a90e0;
}
.store-list-page article footer p {
    float: left;
    font-size: 1.1em;
}
.store-list-page article footer .rate-listing{
  font-size: 12px;
  color: #898989;
  text-decoration: none;
  display: inline-flex;
  line-height: 10px;
}
.store-list-page article footer .rate-listing .fa {
  font-size: 16px;
  padding-left: 5px;
  color: #ffd925;
    position: relative;
}
.store-list-page article footer .link-b {
    position: relative;
    top: 3px;
    float: right;
    width: auto;
}
.link-b a {
    display: block;
    float: left;
    padding: 0 10px 0 0;
    color: #89CC97;
    font-size: 13px;
    font-style: italic;
}
.link-b a:hover{
  color: #4fa260;
}
.p20 {
    padding: 20px;
}
.background-white {
    background-color: #fff;
}

.background-white-border {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    margin-top: 20px;
}
.about-title-support {
    border-bottom: 1px solid #e9e9e9;
    color: #363636;
    font-weight: 600;
   margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 20px;
}
.background-white-border p {
  line-height: 20px;
}
.about-title2 {
    border-bottom: 1px solid #e9e9e9;
    color: #363636;
    font-weight: 600;
   margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    font-size: 26px;
}
.about-title2 span {
  color: #65BD77;
  font-weight: 600;
}
.note-reservation {
  font-size: 11px;
  line-height: 11px;
  color: #999;
  font-style: italic;
  margin-top: 5px;
}

.agreement {
  display: inline-flex;
  width: 100%;
}
.form-group .agreement input {
    width: 24px;
    height: 24px;
}
.form-group .agreement label {
    font-size: 13px;
    width: auto;
    padding: 3px 10px 0;
}
.form-group .agreement span {
  display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.about-title {
    border-bottom: 1px solid #e9e9e9;
    color: #363636;
    font-weight: 300;
    margin: 20px 0px 30px 0px;
    padding-bottom: 20px;
    font-size: 26px;
}
.about-title span {
  color: #65BD77;
}
.detail-content .detail-contact {
    display: table-cell;
}

.detail-content .detail-vcard {
    border-bottom: 1px solid #e9e9e9;
    display: table;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.detail-content .detail-logo {
    display: table-cell;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}

.detail-content .detail-contact div {
    padding-bottom: 5px;
    padding-left: 30px;
    position: relative;
}

.detail-content .detail-contact a {
    color: rgba(54, 54, 54, 0.6);
    transition: all 0.15s linear;
}

.detail-content .detail-contact div i {
    color: #65BD77;
    left: 0px;
    margin-top: 3px;
    position: absolute;
    text-align: center;
    width: 15px;
}

.detail-content .detail-description {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.detail-content .detail-credit {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.detail-content .detail-credit h5 {
    display: table-cell;
    white-space: nowrap;
    font-size: 16px;
    color: #363636;
    font-weight: 300;
}


.detail-content .detail-description  p {
  color: rgba(54, 54, 54, 0.6);
    transition: all 0.15s linear;
    font-size: 12px;
}

.detail-content .detail-follow {
    display: table;
    width: 100%;
/*    border-bottom: 1px solid #e9e9e9;*/
/*    margin-bottom: 20px;
    padding-bottom: 20px;*/
}
.detail-content .detail-follow h5 {
    display: table-cell;
    white-space: nowrap;
    font-size: 14px;
    /*color: #363636;*/

        color: rgba(54, 54, 54, 0.6);
    transition: all 0.15s linear;
    font-weight: 300;
}

.detail-content .detail-follow .follow-wrapper {
    display: table-cell;
    text-align: right;
    width: 100%;
}

.detail-overview-hearts i {
    color: #d81814;
    font-size: 22px;
}

.detail-overview-rating i {
    color: #ffd925;
    font-size: 22px;
}

/* social */
.detail-follow .facebook {
    background-color: #365397;
}
.detail-follow .youtube {
    background-color: #ff3333;
}
.detail-follow .twitter {
    background-color: #00a9f1;
}
.detail-follow .google-plus {
    background-color: #e0452c;
}


.follow-btn {
    background-color: #b6b7b8;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    opacity: .85;
    padding-top: 3px;
    margin-right: 8px;
    text-align: center;
    transition: all linear .07s;
    width: 30px;
}

.working-hours {

}
.working-hours .day {
    border-bottom: 1px solid #e9e9e9;
    line-height: 38px;
}
.working-hours .name {
    font-weight: 700;
}
.working-hours .hours {
    float: right;
    font-size: 12px;
}

.coupon_content {
    border: 1px #CCC dashed;
    padding: 10px;
    font-size: 11px;
    margin-bottom: 10px;
    line-height: 18px;
}
.title-coupon {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

/*.detail-content p {line-height: 18px;}*/
.services {
  margin: 0;
  padding: 0;
  list-style: none;
}
.services li {
  font-size: 16px;
  font-weight: 400;
}
.services li p {
  font-size: 12px;
  line-height: 16px;
}
.services li input[type=checkbox] { height: 20px; }
#services {
  padding: 100px 0 75px;
}
.review{
  color: rgba(54, 54, 54, 0.6);
  margin-bottom: 40px;
}
.review p {
  color: rgba(54, 54, 54, 0.6);
  font-size: 12px;
  line-height: 20px;
}
.review .profile {
  width: 100%;
  border-radius: 50%;
}
.writereview-profile {
  width: 100%;
  border-radius: 50%;
}
.review .review-title {
    border-bottom: 1px solid #f7f8f9;
    margin: 12px 0px 25px 0px;
    overflow: hidden;
    padding: 0px 0px 25px 0px;
}
.review .review-title h2 {
    border-bottom: none;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin: 2px 0px 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
}
.review-overall-rating {
    color: #ffd925;
    font-size: 18px;
    line-height: 1;
    position: relative;
}
.review-overall-rating .overall-rating-title {
    color: #b6b7b8;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-right: 8px;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 -16px;
}

/*.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
  font-size: 25px;
  margin-bottom: 20px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #ffd925;

}*/

.modal-content {
  font-size: 13px
}


.header-review{
  margin-top: 10px;
}
.modal-review-storetitle {
    color: #f4f4f4;
    font-size: 26px;
    font-weight: normal;
}
.modal-specialist-title {
    color: #25313E;
    font-size: 18px;
    font-weight: normal;
}

.specialist-select{
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.specialist-select:hover{
  background-color: #
}
.custom-modal-close{
  background-color: #000;
    border-radius: 50%;
    padding: 5px;
    width: 31px;
    color: #FFF;
}

.modalreview-header{
    background: #242a33 url(../images/main/bg-main.png) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
    padding: 30px;
}
.modal-title-custom {
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
}

.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #45aed6;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.media.service-box:hover .pull-left > i {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
#portfolio {
/*  padding: 100px 0;*/
/*  background: #f5f5f5;*/
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #45aed6;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  line-height: 11px;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, #89cc97 0%, #5cc172 100%);
 background-image: -webkit-linear-gradient(90deg, #89cc97 0%, #5cc172 100%);
  background-image: -ms-linear-gradient(90deg, #89cc97 0%, #5cc172 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#testimonial {
  background: #333333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#about {
  padding: 100px 0;
}
#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#work-process h2 {
  color: #fff;
}
#work-process h3 {
  color: #fff;
  margin-bottom: 0;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #45aed6;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #45aed6;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #64686d;
}
#work-process h3 {
  margin-bottom: 50px;
}
#meet-team {
  padding: 100px 0;
}
#meet-team .team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#meet-team .team-member:hover {
  border-color: #45aed6;
}
#meet-team .team-member:hover .social-icons > li > a {
  background: #45aed6;
}
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
#meet-team .social-icons > li {
  display: inline-block;
}
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}

.team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
   cursor: pointer;
   min-height: 290px;
   margin-bottom: 10px;
}
.team-member .team-img {
  margin: -15px -15px 0 -15px;
}
.team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  line-height: 18px;
}
.team-member .team-info  h3 {
  margin-bottom: 0px;
  font-size: 18px;
}

.team-member:hover {
  border-color: #51a663;
}
.team-member:hover .social-icons > li > a {
  background: #51a663;
}
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons > li {
  display: inline-block;
}
.social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}


.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number h1,
#animated-number h2,
#animated-number h3,
#animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}
#pricing ul.pricing.featured li.plan-header {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}
#get-in-touch {
  padding: 100px 0 50px;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
}
#get-in-touch h1,
#get-in-touch h2 {
  color: #fff;
}

.merchant-rating{ color: #FFF;  display: flex; font-size: 13px; line-height: 22px; }
.merchant-rating a {color: #FFF;}
.merchant-rating a:hover{ text-decoration: none; color: #5CB76C; }
.merchant-title {
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
/*  font-family: 'Open Sans', 'Tahoma';*/
  line-height: 28px;
}
#cities{
  padding: 20px 0 20px;
  background-color: #41586E;
  color: #ADBECE;
}
#cities h1,
#cities h2 {
  color: #ADBECE;
}

#cities ul {
  float: left;
  margin:0;
  padding: 0; 
}
#cities li {
  float: left;
  list-style: none;
}
#cities li a{
  color: #ADBECE;
  text-decoration: none;
  margin: 5px;
    padding: 5px;
}
#cities li a:hover{
  text-decoration: none;
  color: #FFF;
}

#blog {
  padding: 100px 0;
}
#blog .blog-post {
  border: 1px solid #eee;
  padding: 15px;
}
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: #45aed6;
}
#contact {
  position: relative;
  overflow: hidden;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #25313E;
   font-family: Tahoma, "Open sans", Helvetica, Arial !important;
   font-size: 11px;
   line-height: 14px;
}
#footer p{
  line-height: 11px;
}
.footer-title {
    font-family: Tahoma, "Open sans", Helvetica, Arial !important;
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #89CC97;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
.social-icons li {
  display: inline-block;
/*  margin: 0 7.5px;*/
}
.social-icons li a {
  font-size: 16px;
  background-color: #1b252e;
  padding: 5px;
  min-width: 15px;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(86, 232, 97, 0.8) url(../images/arrowup.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}

.footer2 {
    margin: 0;
    padding: 0;
}
.footer2 li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 7px;
}
.footer2 li a {
  color: #fff;
}
.footer2 li a:hover {
  color: #89CC97;
}

.detail-content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn-mark{
  margin-top: 10px;
}

.btn-reservation {
  height: 50px;
  line-height: 30px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {

}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}


@media (min-width: 320px) {
    .navbar-brand {
    float: none;
  }
  .navbar-brand>img {
      width: 70%;
    padding: 10px;
  }
  .navbar.navbar-default .navbar-toggle {
    margin-top: 40px;
  }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }
  #main-page {
    padding-top: 0px;
  }
  .logo-merchant {
    padding: 50px;
  }
  .modalreview-header {
    padding: 20px;
  }
  .modal-review-storetitle {
    font-size: 22px;
  }
  .team-member {
     min-height: 270px;
  }
}
@media (min-width: 480px) {
    .navbar-brand {
    float: none;
  }
  .navbar-brand>img {
      width: 70%;
    padding: 10px;
  }
  .navbar.navbar-default .navbar-toggle {
    margin-top: 40px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }
  .logo-merchant {
    padding: 50px;
  }
    #main-page {
    padding-top: 0px;
  }
   .modalreview-header {
    padding: 20px;
  }
  .modal-review-storetitle {
    font-size: 24px;
  }
   .team-member {
     min-height: 250px;
  }
}

@media (min-width: 1200px) {
   .navbar-brand>img { 
    width: 100%;
    padding:0px;
   }
     #main-page {
    padding-top: 70px;
   }
  .logo-merchant {
    padding: 0px;
  }
   .modalreview-header {
    padding: 30px;
  }
  .modal-review-storetitle {
    font-size: 26px;
  }
 .team-member {
  min-height: 290px;
 }
}