<div id="content">
<h3>User Password</h3>
<div class="innerLR">               
        <div class="widget">
        <!-- Widget heading -->
        <div class="widget-head">
            
            <!--<a href="#tab2-4" "data-toggle="tab"">-->
          
                
            </a>
        </div>        
        <!-- // Widget heading END -->
        <div class="widget widget-tabs widget-tabs-double">
            <!-- Widget heading -->
            <!--<div class="widget-head">
                <ul>
                <li class="active"><a href="#tab1-4" class="glyphicons building" data-toggle="tab"><i></i> Employers List</a></li>
                    <li><a href="#tab2-4" class="glyphicons wallet" data-toggle="tab"><i></i>Registration</a></li>
                </ul>
            </div>-->
            <!-- // Widget heading END -->
            <div class="widget-body">
                <div class="tab-content">    
 <!-- Step 1 -->
                               
<div class="tab-pane active" id="tab2-4">
<h4>Change user password</h4>
<form method="post" id="frmChangePassword">
    <table cellspacing="10">
    <tr><td>Current Password:</td><td><input class="inputbox" type="password" name="current_pw" autofocus /></td></tr>
    <tr><td>Enter New Password:</td><td><input class="inputbox" type="password" name="new_pw1" /></td></tr>
    <tr><td>Re-enter New Password:</td><td><input class="inputbox" type="password" name="new_pw2" /></td></tr>
    <tr><td colspan="2"><input type="submit" class="btn btn-success" name="submit" value="Change" /></td></tr>
    </table>
</form>
</div>
</div></div></div></div></div></div>