<div style="padding:10px;margin:10px" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-corner-top">
<h1>Change user password</h1>
<form method="post" id="frmChangePassword">
    <table cellspacing="10">
    <tr><td>Current Password:</td><td><input type="password" name="current_pw" /></td></tr>
    <tr><td>Enter New Password:</td><td><input type="password" name="new_pw1" /></td></tr>
    <tr><td>Re-enter New Password:</td><td><input type="password" name="new_pw2" /></td></tr>
    <tr><td colspan="2"><input type="submit" name="submit" value="Change" /></td></tr>
    </table>
</form>
</div>